<template>
  <div class="md:flex justify-between mt-3">
    <TitleReturn href="/ ">Your notifications</TitleReturn>
    <Link v-if="notifications.data.filter(notification => !notification.read_at).length" href="/notification/seen-all"
      as="button" class="btn-secondary w-full md:w-auto" method="put">Read all</Link>
  </div>

  <section v-if="notifications.data.length">
    <div v-for="notification in notifications.data" class="border-b border-gray-300 py-4">
      <div>
        <Icon icon="fa-clock" class="text-gray-600"></Icon>
        {{ new Date(notification.created_at).toLocaleString() }}
      </div>
      <div class="md:flex items-center justify-between gap-3">
        <div>
          <div v-if="notification.type === 'App\\Notifications\\ProjectNotification'">
            <span v-if="notification.data.type === 'projectCreatedOwner'">
              <Link :href="`/project/${notification.data.project_id}`" class="link-primary">Project {{
                notification.data.project_name }}</Link> was created for
              this
              <Link :href="`/module/${notification.data.module_id}`" class="link-primary">module</Link> by
              <Link :href="`/profile/user/${notification.data.user_id}`" class="link-primary">user</Link>!
              You were added as the owner.
            </span>
            <span v-if="notification.data.type === 'projectCreatedGuide'">
              <Link :href="`/project/${notification.data.project_id}`" class="link-primary">Project {{
                notification.data.project_name }}</Link> was created for
              this
              <Link :href="`/module/${notification.data.module_id}`" class="link-primary">module</Link> by
              <Link :href="`/profile/user/${notification.data.user_id}`" class="link-primary">user</Link>!
              You were added as the guide.
            </span>
            <span v-if="notification.data.type === 'projectDeleted'">
              The
              project {{ notification.data.project_name }} of this
              <Link :href="`/module/${notification.data.module_id}`" class="link-primary">module</Link> you were involved
              in was deleted by
              <Link :href="`/profile/user/${notification.data.user_id}`" class="link-primary">user</Link>!
            </span>
            <span v-if="notification.data.type === 'projectOwnerRemoved'">
              You were removed as the owner of
              <Link :href="`/project/${notification.data.project_id}`" class="link-primary">project {{
                notification.data.project_name }}</Link> of this
              <Link :href="`/module/${notification.data.module_id}`" class="link-primary">module</Link> by
              <Link :href="`/profile/user/${notification.data.user_id}`" class="link-primary">user</Link>!
            </span>
            <span v-if="notification.data.type === 'projectOwnerAdded'">
              You were added as the owner of
              <Link :href="`/project/${notification.data.project_id}`" class="link-primary">project {{
                notification.data.project_name }}</Link> of this
              <Link :href="`/module/${notification.data.module_id}`" class="link-primary">module</Link> by
              <Link :href="`/profile/user/${notification.data.user_id}`" class="link-primary">user</Link>!
            </span>
            <span v-if="notification.data.type === 'projectGuideRemoved'">
              You were removed as the guide of
              <Link :href="`/project/${notification.data.project_id}`" class="link-primary">project {{
                notification.data.project_name }}</Link> of this
              <Link :href="`/module/${notification.data.module_id}`" class="link-primary">module</Link> by
              <Link :href="`/profile/user/${notification.data.user_id}`" class="link-primary">user</Link>!
            </span>
            <span v-if="notification.data.type === 'projectGuideAdded'">
              You were added as the guide of
              <Link :href="`/project/${notification.data.project_id}`" class="link-primary">project {{
                notification.data.project_name }}</Link> of this
              <Link :href="`/module/${notification.data.module_id}`" class="link-primary">module</Link> by
              <Link :href="`/profile/user/${notification.data.user_id}`" class="link-primary">user</Link>!
            </span>
            <span v-if="notification.data.type === 'projectModuleChanged'">
              The
              <Link :href="`/project/${notification.data.project_id}`" class="link-primary">project {{
                notification.data.project_name }}'s</Link> module
              changed to this
              <Link :href="`/module/${notification.data.module_id}`" class="link-primary">module</Link> by
              <Link :href="`/profile/user/${notification.data.user_id}`" class="link-primary">user</Link>!
            </span>
          </div>
          <div v-if="notification.type === 'App\\Notifications\\GroupNotification'">
            <span v-if="notification.data.type === 'groupCreated'">
              <Link :href="`/group/${notification.data.group_id}`" class="link-primary">Group {{
                notification.data.group_name }}</Link>
              was created for this
              <Link :href="`/project/${notification.data.project_id}`" class="link-primary">project</Link>
              by
              <Link :href="`/profile/user/${notification.data.user_id}`" class="link-primary">user</Link>!
            </span>
            <span v-if="notification.data.type === 'groupDeleted'">
              The
              group {{ notification.data.group_name }}
              was deleted for this
              <Link :href="`/project/${notification.data.project_id}`" class="link-primary">project</Link>
              by
              <Link :href="`/profile/user/${notification.data.user_id}`" class="link-primary">user</Link>!
            </span>
            <span v-if="notification.data.type === 'groupMemberLeft'">
              <Link :href="`/profile/user/${notification.data.user_id}`" class="link-primary">User</Link>
              left
              <Link :href="`/group/${notification.data.group_id}`" class="link-primary">group {{
                notification.data.group_name }}</Link>!
            </span>
            <span v-if="notification.data.type === 'groupMemberRemoved'">
              You were removed from
              <Link :href="`/group/${notification.data.group_id}`" class="link-primary">group {{
                notification.data.group_name }}</Link> by
              <Link :href="`/profile/user/${notification.data.user_id}`" class="link-primary">user</Link>!
            </span>
            <span v-if="notification.data.type === 'groupMemberAdded'">
              You were added in
              <Link :href="`/group/${notification.data.group_id}`" class="link-primary">group {{
                notification.data.group_name }}</Link> by
              <Link :href="`/profile/user/${notification.data.user_id}`" class="link-primary">user</Link>!
            </span>
            <span v-if="notification.data.type === 'groupLeaderChanged'">
              The
              <Link :href="`/group/${notification.data.group_id}`" class="link-primary">group {{
                notification.data.group_name }}</Link>'s leader was changed by
              <Link :href="`/profile/user/${notification.data.user_id}`" class="link-primary">user</Link>!
            </span>
            <span v-if="notification.data.type === 'groupLeaderRemoved'">
              You were removed as the leader from
              <Link :href="`/group/${notification.data.group_id}`" class="link-primary">group {{
                notification.data.group_name }}</Link> by
              <Link :href="`/profile/user/${notification.data.user_id}`" class="link-primary">user</Link>!
            </span>
            <span v-if="notification.data.type === 'groupLeaderAdded'">
              You were made as the leader for
              <Link :href="`/group/${notification.data.group_id}`" class="link-primary">group {{
                notification.data.group_name }}</Link> by
              <Link :href="`/profile/user/${notification.data.user_id}`" class="link-primary">user</Link>!
            </span>
          </div>
          <div v-if="notification.type === 'App\\Notifications\\EvaluationNotification'">
            <span v-if="notification.data.type === 'evaluationCreated'">
              <Link class="link-primary">Evaluation</Link>
              created for this
              <Link class="link-primary">group</Link>!
            </span>
            <span v-if="notification.data.type === 'evaluationDeleted'">
              <Link class="link-primary">Evaluation</Link>
              deleted for this
              <Link class="link-primary">group</Link>!
            </span>
            <span v-if="notification.data.type === 'evaluationSubmissionsAdded'">
              The
              <Link class="link-primary">group</Link> for
              <Link class="link-primary">evaluation</Link>
              submitted one or more submission files!
            </span>
            <span v-if="notification.data.type === 'evaluationSubmissionsDeleted'">
              The
              <Link class="link-primary">group</Link> for
              <Link class="link-primary">evaluation</Link>
              submitted one or more submission files!
            </span>
          </div>
        </div>
        <div v-if="!notification.read_at">
          <Link :href="`/notification/${notification.id}/seen`" class="btn-secondary w-full md:w-auto" as="button"
            method="put">Mark as read</Link>
        </div>
      </div>
    </div>
  </section>
  <div v-else class="empty-state h-52">
    No notifications!
  </div>
  <Pagination :links="notifications.links" class="mt-8" />
</template>

<script setup>
import { Link } from '@inertiajs/vue3';
import Pagination from '@/Components/Pagination.vue';
import TitleReturn from '@/Components/TitleReturn.vue';

defineProps({
  notifications: Array
})
</script>