<template>
    <div
        class="container-fypms bg-slate-50/90 border h-10 font-semibold text-sm text-gray-500 flex items-center md:px-3 gap-1 sticky top-16">
        <Link href="/group" class="hover:underline">GROUP</Link>
        <Icon icon="fa-angles-right"></Icon>
        <Link :href="`/group/create`" class="hover:underline">
        CREATE
        </Link>
    </div>
    <div class="container-fypms bg-white md:p-3 md:mb-10 border shadow-lg space-y-5">
        <h2>
            Create Group
            <Icon icon="fa-people-group" class="me-2"></Icon>
        </h2>
        <form @submit.prevent="
            form.transform((data) => ({
                ...data,
                members: data.members.map((member) => member.id),
            })).post('/group')
            ">
            <div class="mt-5 grid grid-cols-1 md:grid-cols-2 gap-3">
                <div>
                    <h3>Group name</h3>
                    <div>
                        <input class="w-full" type="text" required placeholder="Group Name" v-model="form.name" />
                        <div v-if="form.errors.name" class="text-red-600">
                            {{ form.errors.name }}
                        </div>
                    </div>
                </div>

                <div>
                    <h3>Select project</h3>
                    <div>
                        <select class="w-full" v-model="form.project" required>
                            <option v-for="project in projects" :value="project.id">
                                {{ project.name }} ({{ project.module.code }}) {{ project.module.year }}
                            </option>
                        </select>
                        <div v-if="form.errors.project" class="text-red-600">
                            {{ form.errors.project }}
                        </div>
                    </div>
                </div>

                <div class="md:col-span-2">
                    <h3>Members</h3>
                    <div>
                        <button type="button" class="btn-secondary mb-3 w-full" @click="showMemberModal = true">
                            Pick members
                        </button>
                        <div v-if="form.members.length != 0" class="box overflow-scroll h-52 p-3">
                            <div v-for="(member, index) in form.members"
                                class="flex justify-between items-center gap-10 mb-3">
                                <div>MEMBER {{ index + 1 }}</div>
                                <div class="flex-1">
                                    <div class="font-bold">
                                        {{ member.name }}({{ member.role }})
                                    </div>
                                    <div class="text-sm text-gray-600">
                                        {{ member.email }}
                                    </div>
                                </div>
                                <div>
                                    <button class="btn-secondary" type="button"
                                        @click="form.members.splice(form.members.map(member => member.id).indexOf(member.id), 1)">
                                        remove
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="empty-state h-52" v-else>
                            No members selected!
                        </div>
                        <div v-if="form.errors.members" class="text-red-600">
                            {{ form.errors.members }}
                        </div>

                        <div v-if="showMemberModal">
                            <div
                                class="w-full md:w-[500px] bg-white p-5 rounded border border-gray-300 shadow-2xl fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
                                <div>Select a member for this project</div>

                                <form class="flex gap-2" @submit.prevent="search">
                                    <input class="flex-1" type="text" placeholder="Search name or email"
                                        v-model="searchForm.memberName" />
                                    <button class="btn-primary">Search</button>
                                </form>

                                <div class="mt-3">Student list</div>

                                <div class="h-[150px] space-y-3 mb-3 overflow-auto">
                                    <div v-if="members" class="flex justify-between items-center" v-for="member in members">
                                        <div>
                                            <div class="font-bold">
                                                {{ member.name }}({{
                                                    member.role
                                                }})
                                            </div>
                                            <div class="text-sm text-gray-600">
                                                {{ member.email }}
                                            </div>
                                        </div>
                                        <div>
                                            <button v-if="(() => {
                                                if (form.members.includes(member)) {
                                                    return false
                                                }
                                                return true
                                            })()" class="btn-secondary" type="button" @click="
    form.members.push(member);
">
                                                pick
                                            </button>
                                            <div v-else>Selected</div>
                                        </div>
                                    </div>
                                    <div v-else class="flex justify-center items-center h-full">
                                        <div class="text-gray-500">
                                            Search for member
                                        </div>
                                    </div>
                                </div>

                                <div class="flex justify-end">
                                    <button class="btn-secondary" @click="showMemberModal = false">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="md:col-span-2 space-x-3">
                    <button class="btn-primary" type="submit">Create</button>
                    <a onclick="history.back()"><button class="btn-secondary" type="button">Cancel</button></a>
                </div>
            </div>
        </form>
    </div>
</template>

<script setup>
import { ref } from "vue";
import { useForm, Link } from "@inertiajs/vue3";

const props = defineProps({
    projects: Array,
    members: Array,
    filters: Object,
});

const showMemberModal = ref(false);

const form = useForm({
    project: props.projects[0].id,
    name: "",
    members: [],
});

const searchForm = useForm({
    memberName: props.filters.memberName ?? "",
});

const search = () => {
    searchForm.get("/group/create", {
        preserveState: true,
        preserveScroll: true,
    });
};
</script>
