<template>
  <div class="container-fypms">
    <section class="my-3">
      <div class="mb-5 flex justify-between">
        <h1><Icon icon="fa-people-group" class="me-2"></Icon>Groups</h1>
        <Link v-if="user.role == 'student'" href="/group/create" class="btn-primary" as="button">
        Create group
        </Link>
      </div>
      <Filter :name="filters.name" :sortBy="filters.sortBy" :current="`group`"></Filter>
  
      <div>
        <div v-if="groups.data.length" class="box shadow-lg">
          <Group v-for="group in groups.data" :href="`/group/${group.id}`" :name="group.name"
            :project="group.project.name" :leader="group.leader.name" :memberCount="group.members_count"
            :year="group.project.module.year">
          </Group>
        </div>
        <div v-else class="empty-state h-[70vh]">
          No groups!
        </div>
      </div>
    </section>

    <Pagination :links="groups.links" class="mb-3" />
  </div>
</template>
 

<script setup>
import { computed } from 'vue';
import { Link, usePage } from '@inertiajs/vue3';
import Group from '@/Components/Group.vue';
import Pagination from '@/Components/Pagination.vue';
import Filter from '@/Components/Filter.vue';

const page = usePage();
const user = computed(() => page.props.user);

const props = defineProps({
  groups: Array,
  filters: Object
})
</script>

