<template>
  <div
    class="container-fypms bg-slate-50/90 border h-10 font-semibold text-sm text-gray-500 flex items-center md:px-3 gap-1 sticky top-16">
    <Link href="/group" class="hover:underline">GROUP</Link>
    <Icon icon="fa-angles-right"></Icon>
    <Link :href="`/group/${group.id}`" class="hover:underline">
    {{ group.name }}
    </Link>
  </div>
  <div class="container-fypms bg-white md:p-3 md:mb-10 border shadow-lg space-y-5">
    <section class="flex justify-between items-center">
      <h1 class="text-yellow-600">
        <Icon icon="fa-people-group" class="me-2"></Icon>{{ group.name }}
      </h1>
      <Link v-if="user.role == 'admin' || group.leader_id == user.id" :href="`/group/${group.id}/edit`"
        class="link-primary" type="submit">
      <Icon icon="fa-pen"></Icon>
      Edit group
      </Link>
    </section>

    <section>
      <h2>Group details</h2>
      <div class="md:flex gap-16">
        <section>
          <h3>Project</h3>
          <Link :href="`/project/${group.project.id}`">
          <Icon icon="fa-diagram-project" class="text-gray-700 me-2" />{{ group.project.name }}</Link>
        </section>
        <section>
          <h3>Module</h3>
          <Link :href="`/module/${group.project.module.id}`">
          <Icon icon="fa-book" class="text-gray-700 me-2" />({{ group.project.module.code }}) {{ group.project.module.name
          }} {{ group.project.module.year }}</Link>
        </section>
      </div>
    </section>

    <section>
      <h2>Members</h2>
      <div v-if="group.members.length" class="space-y-3">
        <div class="flex items-center" v-for="member in group.members">
          <User :user="member"></User> <span v-if="group.leader_id == member.id"
            class="ms-3 font-semibold text-gray-700">Leader</span>
        </div>
      </div>
      <div v-else class="empty-state h-52">
        No members
      </div>
    </section>

    <section v-if="group.members.map(member => member.id).includes(user.id) || group.project.guide_id == user.id || group.project.owner_id == user.id">
      <h2>Evaluations</h2>
      <div v-if="group.evaluations.length" class="box">
        <Evaluation v-for="evaluation in group.evaluations" :name="evaluation.name" :href="`/evaluation/${evaluation.id}`"
          :created_at="evaluation.created_at" :start_date_time="evaluation.start_date_time"
          :end_date_time="evaluation.end_date_time" />
      </div>
      <div v-else class="empty-state h-52">
        No evaluations!
      </div>
    </section>

    <details v-if="user.role == 'admin' || group.leader_id == user.id">
      <summary class="text-gray-700 text-lg font-bold">Others</summary>
      <button class="btn-danger" @click="deleteGroup">Delete group</button>
    </details>
    <details v-else-if="group.members.map(member => member.id).includes(user.id)">
      <summary class="text-gray-700 text-lg font-bold">Others</summary>
      <button class="btn-danger" @click="leaveGroup">Leave group</button>
    </details>
  </div>
</template>

<script setup>
import { computed } from 'vue';
import { Link, usePage, router } from '@inertiajs/vue3';
import User from '@/Components/User.vue';
import Evaluation from '@/Components/Evaluation.vue';

const page = usePage();
const user = computed(() => page.props.user);

const props = defineProps({
  group: Object
})

function deleteGroup() {
    const result = confirm('Are you sure you want to delete this group?')
    if (result) {
        router.delete(`/group/${props.group.id}`)
    }
}

function leaveGroup() {
    const result = confirm('Are you sure you want to leave this group?')
    if (result) {
        router.put(`/group/${props.group.id}/leave`)
    }
}
</script>