<template>
    <div
        class="container-fypms bg-slate-50/90 border h-10 font-semibold text-sm text-gray-500 flex items-center md:px-3 gap-1 sticky top-16">
        <Link href="/admin/student/user" class="hover:underline">STUDENT</Link>
        <Icon icon="fa-angles-right"></Icon>
        <Link :href="`/profile/user/${student.id}`" class="hover:underline">
        {{ student.name }}
        </Link>
        <Icon icon="fa-angles-right"></Icon>
        <Link :href="`/admin/student/user/${student.id}/edit`" class="hover:underline">
        EDIT
        </Link>
    </div>
    <div class="container-fypms bg-white md:p-3 md:mb-10 border shadow-lg space-y-5">
        <h2>
            <Icon icon="fa-pen" class="me-2"></Icon>Edit student
        </h2>
        <form @submit.prevent="
            form.patch(`/admin/student/user/${student.id}`)
            ">
            <div class="mt-5 grid grid-cols-1 md:grid-cols-2 gap-3">
                <div>
                    <h3>Name</h3>
                    <div>
                        <input class="w-full" v-model="form.name" required />
                        <div v-if="form.errors.name" class="text-red-600">
                            {{ form.errors.name }}
                        </div>
                    </div>
                </div>

                <div>
                    <h3>Email</h3>
                    <div>
                        <input class="w-full" type="email" v-model="form.email" required />
                        <div v-if="form.errors.email" class="text-red-600">
                            {{ form.errors.email }}
                        </div>
                    </div>
                </div>

                <div>
                    <h3>Student ID</h3>
                    <div>
                        <input class="w-full" type="number" v-model="form.id" required />
                        <div v-if="form.errors.id" class="text-red-600">
                            {{ form.errors.id }}
                        </div>
                    </div>
                </div>

                <div>
                    <h3>Programme</h3>
                    <div>
                        <select class="w-full" v-model="form.programme">
                            <option value="Bachelor of Science in Computer Science">BSc CS</option>
                            <option value="Bachelor of Science in Information Technology">BSc IT</option>
                            <option value="Bachelor Of Computer Science (AI Development & Data Science)">BSc CS AI
                                Development & Data Science</option>
                            <option value="Bachelor Of Computer Science (Blockchain Development)">BSc CS Blockchain
                                Development</option>
                            <option value="Bachelor Of Computer Science (Full Stack Development)">BSc CS Full Stack
                                Development</option>
                            <option value="Bachelor of Digital Media & Development">Bachelor of Digital Media & Development
                            </option>
                        </select>
                        <div v-if="form.errors.programme" class="text-red-600">
                            {{ form.errors.programme }}
                        </div>
                    </div>
                </div>

                <div class="md:col-span-2">
                    <h3>Admission year</h3>
                    <div>
                        <input class="w-full" type="number" v-model="form.admission_year" min="2019" max="2099" step="1"
                            required />
                        <div v-if="form.errors.admission_year" class="text-red-600">
                            {{ form.errors.admission_year }}
                        </div>
                    </div>
                </div>

                <div class="md:col-span-2 space-x-3">
                    <button class="btn-primary" type="submit">Save changes</button>
                    <a onclick="history.back()"><button class="btn-secondary" type="button">Cancel</button></a>
                </div>
            </div>
        </form>
    </div>
</template>

<script setup>
import { useForm, Link } from "@inertiajs/vue3";

const props = defineProps({
    student: Object,
});

const form = useForm({
    name: props.student.name,
    email: props.student.email,
    id: props.student.student_data.id,
    programme: props.student.student_data.programme,
    admission_year: props.student.student_data.admission_year,
});
</script>
