<template>
  <div class="container-fypms">
    <section class="my-3">
      <div class="mb-5 md:flex justify-between">
        <h1>
          <Icon icon="fa-graduation-cap" class="me-2"></Icon>Students
        </h1>
        <div class="flex items-center gap-3 mt-3 md:mt-0">
          <Link href="/admin/student/user/create" class="flex-1 md:flex-none btn-primary" as="button">
          Add student
          </Link>
          <Link href="/admin/student/upload" class="flex-1 md:flex-none btn-primary" as="button">
          Upload sheet
          </Link>
        </div>
      </div>
      <form @submit.prevent="filter">
        <div class="flex flex-col md:flex-row items-center gap-2 md:gap-4 mb-10 md:mb-4">
          <div class="w-full md:w-60">
            <input class="w-full" type="text" placeholder="Name" v-model="filterForm.name" />
          </div>

          <div class="w-full md:w-60">
            <select class="w-full" v-model="filterForm.programme">
              <option>All</option>
              <option value="Bachelor of Science in Computer Science">BSc CS</option>
              <option value="Bachelor of Science in Information Technology">BSc IT</option>
              <option value="Bachelor Of Computer Science (AI Development & Data Science)">BSc CS AI Development & Data
                Science</option>
              <option value="Bachelor Of Computer Science (Blockchain Development)">BSc CS Blockchain Development</option>
              <option value="Bachelor Of Computer Science (Full Stack Development)">BSc CS Full Stack Development</option>
              <option value="Bachelor of Digital Media & Development">Bachelor of Digital Media & Development</option>
            </select>
          </div>

          <div class="w-full md:w-60">
            <input class="w-full" type="number" placeholder="Admission year" min="2019" max="2099" step="1"
              v-model="filterForm.admission_year">
          </div>

          <div class="w-full md:w-auto">
            <button class="btn-secondary w-full">
              Filter
            </button>
          </div>

          <div class="w-full md:w-auto">
            <button class="btn-secondary w-full" type="button" @click="clear">
              Clear
            </button>
          </div>
        </div>
      </form>

      <div class="mb-1 text-right">
        <a href="/admin/student/export" class="link-primary font-bold text-gray-700">
          Download student sheet
          <Icon icon="fa-download"></Icon>
        </a>
      </div>
      <div class="box overflow-auto bg-white">
        <div>
          <table class="w-full">
            <thead class="h-16">
              <tr>
                <th scope="col" class="text-left text-gray-700 min-w-[50px]">ID</th>
                <th scope="col" class="text-left text-gray-700 min-w-[150px]">Name</th>
                <th scope="col" class="text-left text-gray-700 min-w-[250px]"> Email</th>
                <th scope="col" class="text-left text-gray-700 min-w-[400px]">Programme & Admission Year</th>
                <th scope="col" class="text-left text-gray-700">Actions</th>
              </tr>
            </thead>

            <tbody>
              <tr v-for="(student, index) in students.data" class="h-16"
                :class="index % 2 == 0 ? 'bg-gray-200' : 'bg-gray-100'">
                <td scope="col" class="">{{ student.student_data.id }}</td>
                <td scope="col" class="">{{ student.name }}</td>
                <td scope="col" class="">{{ student.email }}</td>
                <td scope="col" class="">{{ student.student_data.programme }} {{ student.student_data.admission_year }}
                </td>
                <td scope="col" class="space-x-10 whitespace-nowrap">
                  <Link :href="`/profile/user/${student.id}`" class="link-primary whitespace-nowrap" as="button">
                  <Icon icon="fa-user" class="me-1"></Icon>Preview</Link>
                  <Link :href="`/admin/student/user/${student.id}/edit`" class="link-primary whitespace-nowrap"
                    as="button">
                  <Icon icon="fa-pen" class="me-1"></Icon>Edit</Link>
                  <!-- <Link :href="`/admin/student/user/${student.id}`" method="delete"
                    class="link-primary whitespace-nowrap text-red-600" as="button">
                  <Icon icon="fa-trash"></Icon>
                  Delete</Link> -->
                  <button class="link-primary whitespace-nowrap text-red-600" @click="deleteStudent(student.id)">
                    <Icon icon="fa-trash"></Icon> Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <Pagination :links="students.links" class="mb-3" />
  </div>
</template>

<script setup>
import { Link, useForm, router } from '@inertiajs/vue3';
import Pagination from '@/Components/Pagination.vue';

const props = defineProps({
  students: Array,
  filters: Object
})

const filterForm = useForm({
  name: props.filters.name ?? null,
  programme: props.filters.programme ?? 'All',
  admission_year: props.filters.admission_year ?? null
})

const filter = () => {
  filterForm.get(
    '/admin/student/user',
    {
      preserveState: true,
      preserveScroll: true
    }
  )
}

const clear = () => {
  filterForm.name = null
  filterForm.programme = 'All'
  filterForm.admission_year = null
  filter()
}

function deleteStudent(id) {
  const result = confirm('Are you sure you want to delete this student?')
  if (result) {
    router.delete(`/admin/student/user/${id}`)
  }
}
</script>