<template>
  <div
    class="container-fypms bg-slate-50/90 border h-10 font-semibold text-sm text-gray-500 flex items-center md:px-3 gap-1 sticky top-16">
    <Link href="/admin/student/user" class="hover:underline">STUDENT</Link>
    <Icon icon="fa-angles-right"></Icon>
    <Link :href="`/admin/student/upload`" class="hover:underline">
    UPLOAD
    </Link>
  </div>
  <div class="container-fypms bg-white md:p-3 md:mb-10 border shadow-lg space-y-5">
    <form enctype="multipart/form-data" @submit.prevent="form.post(`/admin/student/import`)">
      <h2>Upload students</h2>
      <div class="mb-3">
        <h3>The following fields are required to upload students.</h3>
        <ul>
          <li>Name</li>
          <li>Email</li>
          <li>Student ID</li>
          <li>Programme</li>
          <li>Admission year</li>
        </ul>
      </div>
      <!-- <div class="file-input">
        <Icon icon="fa-folder"></Icon> Drag or select one file -->
      <!-- <input type="file" @input="form.students = $event.target.files[0]" class="w-full h-full absolute"> -->
      <!-- </div> -->
      <h3>CSV file, Excelspreadsheet etc.</h3>
      <input type="file" @input="form.students = $event.target.files[0]">
      <div v-if="form.errors.students" class="text-red-600">
        {{ form.errors.students }}
      </div>
      <div class="md:col-span-2 space-x-3">
        <button class="btn-primary" type="submit">Upload</button>
        <a onclick="history.back()"><button class="btn-secondary" type="button">Cancel</button></a>
      </div>
    </form>
  </div>
</template>

<script setup>
import { useForm, Link } from '@inertiajs/vue3';

const form = useForm({
  'students': null,
})
</script>