<template>
    <div
        class="container-fypms bg-slate-50/90 border h-10 font-semibold text-sm text-gray-500 flex items-center md:px-3 gap-1 sticky top-16">
        <Link href="/project" class="hover:underline">PROJECT</Link>
        <Icon icon="fa-angles-right"></Icon>
        <Link :href="`/project/create`" class="hover:underline">
        CREATE
        </Link>
    </div>
    <div class="container-fypms bg-white md:p-3 md:mb-10 border shadow-lg space-y-5">
        <h2>
            Create Project
            <Icon icon="fa-diagram-project" class="me-2"></Icon>
        </h2>
        <form enctype="multipart/form-data" @submit.prevent="
            form.transform((data) => ({
                ...data,
                guide: data.guide ? data.guide.id : null,
                owner: data.owner ? data.owner.id : null,
            })).post('/project')
            ">
            <div class="mt-5 grid grid-cols-1 md:grid-cols-2 gap-3">
                <div>
                    <h3>ProjectName</h3>
                    <div>
                        <input class="w-full" type="text" required placeholder="Project Name" v-model="form.name" />
                        <div v-if="form.errors.name" class="text-red-600">
                            {{ form.errors.name }}
                        </div>
                    </div>
                </div>
                <div>
                    <h3>Select a Module</h3>
                    <div>
                        <select class="w-full" v-model="form.module" required>
                            <option v-for="module in modules" :value="module.id">
                                ({{ module.code }}) {{ module.name }}
                                {{ module.year }}
                            </option>
                        </select>
                        <div v-if="form.errors.module" class="text-red-600">
                            {{ form.errors.module }}
                        </div>
                    </div>
                </div>
                <div class="md:col-span-2">
                    <h3>Project Description</h3>
                    <div>
                        <textarea rows="4" class="w-full" id="Project description" v-model="form.description" required
                            placeholder="Project Description"></textarea>
                        <div v-if="form.errors.description" class="text-red-600">
                            {{ form.errors.description }}
                        </div>
                    </div>
                </div>
                <div>
                    <h3>Project owner</h3>
                    <div>
                        <button type="button" class="btn-secondary mb-3 w-full" @click="showOwnerModal = true">
                            Pick owner
                        </button>
                        <div v-if="form.owner" class="box overflow-scroll h-52 p-3">
                            <div class="flex justify-between items-center gap-10">
                                <div>OWNER</div>
                                <div class="flex-1">
                                    <div class="font-bold">
                                        {{ form.owner.name }}({{ form.owner.role }})
                                    </div>
                                    <div class="text-sm text-gray-600">
                                        {{ form.owner.email }}
                                    </div>
                                </div>
                                <div>
                                    <button class="btn-secondary" type="button" @click="form.owner = null">
                                        remove
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="empty-state h-52" v-else>
                            No owner selected!
                        </div>
                        <div v-if="form.errors.owner" class="text-red-600">
                            {{ form.errors.owner }}
                        </div>

                        <div v-if="showOwnerModal">
                            <div
                                class="w-full md:w-[500px] bg-white p-5 rounded border border-gray-300 shadow-2xl fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
                                <div>Select an owner for this project</div>

                                <form class="flex gap-2" @submit.prevent="search">
                                    <input class="flex-1" type="text" placeholder="Search name or email"
                                        v-model="searchForm.ownerName" />
                                    <button class="btn-primary">Search</button>
                                </form>

                                <div class="mt-3">Owner list</div>

                                <div class="h-[150px] space-y-3 mb-3 overflow-auto">
                                    <div v-if="owners" class="flex justify-between items-center" v-for="owner in owners">
                                        <div>
                                            <div class="font-bold">
                                                {{ owner.name }}({{
                                                    owner.role
                                                }})
                                            </div>
                                            <div class="text-sm text-gray-600">
                                                {{ owner.email }}
                                            </div>
                                        </div>
                                        <div>
                                            <button v-if="form.owner
                                                ? form.owner.id !=
                                                owner.id
                                                : true
                                                " class="btn-secondary" type="button" @click="
        form.owner = owner;
    showOwnerModal = false;
    ">
                                                pick
                                            </button>
                                            <div v-else>Selected</div>
                                        </div>
                                    </div>
                                    <div v-else class="flex justify-center items-center h-full">
                                        <div class="text-gray-500">
                                            Search for owner
                                        </div>
                                    </div>
                                </div>

                                <div class="flex justify-end">
                                    <button class="btn-secondary" @click="showOwnerModal = false">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <h3>Project guide</h3>
                    <div>
                        <button type="button" class="btn-secondary mb-3 w-full" @click="showGuideModal = true">
                            Pick guide
                        </button>
                        <div v-if="form.guide" class="box overflow-scroll h-52 p-3">
                            <div class="flex justify-between items-center gap-10">
                                <div>GUIDE</div>
                                <div class="flex-1">
                                    <div class="font-bold">
                                        {{ form.guide.name }}({{ form.guide.role }})
                                    </div>
                                    <div class="text-sm text-gray-600">
                                        {{ form.guide.email }}
                                    </div>
                                </div>
                                <div>
                                    <button class="btn-secondary" type="button" @click="form.guide = null">
                                        remove
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="empty-state h-52" v-else>
                            No guide selected!
                        </div>
                        <div v-if="form.errors.guide" class="text-red-600">
                            {{ form.errors.guide }}
                        </div>

                        <div v-if="showGuideModal">
                            <div
                                class="w-full md:w-[500px] bg-white p-5 rounded border border-gray-300 shadow-2xl fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
                                <div>Select a guide for this project</div>

                                <form class="flex gap-2" @submit.prevent="search">
                                    <input class="flex-1" type="text" placeholder="Search name or email"
                                        v-model="searchForm.guideName" />
                                    <button class="btn-primary">Search</button>
                                </form>

                                <div class="mt-3">Guide list</div>

                                <div class="h-[150px] space-y-3 mb-3 overflow-auto">
                                    <div v-if="guides" class="flex justify-between items-center" v-for="guide in guides">
                                        <div>
                                            <div class="font-bold">
                                                {{ guide.name }}({{
                                                    guide.role
                                                }})
                                            </div>
                                            <div class="text-sm text-gray-600">
                                                {{ guide.email }}
                                            </div>
                                        </div>
                                        <div>
                                            <button v-if="form.guide
                                                ? form.guide.id !=
                                                guide.id
                                                : true
                                                " class="btn-secondary" type="button" @click="
        form.guide = guide;
    showGuideModal = false;
    ">
                                                pick
                                            </button>
                                            <div v-else>Selected</div>
                                        </div>
                                    </div>
                                    <div v-else class="flex justify-center items-center h-full">
                                        <div class="text-gray-500">
                                            Search for guide
                                        </div>
                                    </div>
                                </div>

                                <div class="flex justify-end">
                                    <button class="btn-secondary" @click="showGuideModal = false">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="md:col-span-2">
                    <h3>Project requirement files</h3>
                    <input type="file" class="w-full" @input="form.image = $event.target.files[0]" />
                    <div v-if="form.errors.image" class="text-red-600">
                        {{ form.errors.image }}
                    </div>
                </div>

                <div class="md:col-span-2 space-x-3">
                    <button class="btn-primary" type="submit">Create</button>
                    <a onclick="history.back()"><button class="btn-secondary" type="button">Cancel</button></a>
                </div>
            </div>
        </form>
    </div>
</template>

<script setup>
import { ref } from "vue";
import { useForm, Link } from "@inertiajs/vue3";

const props = defineProps({
    modules: Object,
    guides: Object,
    owners: Object,
    filters: Object,
});

const showGuideModal = ref(false);
const showOwnerModal = ref(false);

const form = useForm({
    module: props.modules[0].id,
    name: "",
    description: "",
    guide: null,
    owner: null,
    image: null,
});

const searchForm = useForm({
    guideName: props.filters.guideName ?? "",
    ownerName: props.filters.ownerName ?? "",
});

const search = () => {
    searchForm.get("/project/create", {
        preserveState: true,
        preserveScroll: true,
    });
};
</script>
