<template>
  <div class="container-fypms">
    <div class="text-center border w-6/12 mx-auto mt-20 border-black">
      <TitleReturn class="my-2">Change image for {{ project.name }}</TitleReturn>
      <form enctype="multipart/form-data" @submit.prevent="form.post(`/admin/image/project/${project.id}`)">
        <div class="space-y-4 ">
          Current image
          <img :src="props.project.image ? props.project.image_src : '/no_photo.jpg'"
            class="rounded h-52 w-60 mx-auto object-cover">
          New image
          <input class="rounded-md w-96" type="file" @input="form.image = $event.target.files[0]">
          <div v-if="form.errors.image" class="text-red-600">
            {{ form.errors.image }}
          </div>
        </div>
        <div class="my-4 mx-auto space-x-4">
          <Link :href="`/admin/image/project/${project.id}`" as="button" method="delete" class="btn-primary">Remove</Link>
          <button class="btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script setup>
import { useForm, Link } from '@inertiajs/vue3';
import TitleReturn from "@/Components/TitleReturn.vue";

const props = defineProps({
  project: Object
});

const form = useForm({
  'image': null,
})
</script>