<template>
  <div class="container-fypms">
    <section class="my-3">
      <div class="mb-5 flex justify-between">
        <h1>
          <Icon icon="fa-diagram-project" class="me-2"></Icon>Projects
        </h1>
        <Link v-if="user.role == 'admin'" class="btn-primary" href="/project/create" as="button">
        Create project
        </Link>
      </div>

      <Filter :name="filters.name" :sortBy="filters.sortBy" :current="`project`"></Filter>

      <div>
        <div v-if="projects.data.length" class="box shadow-lg">
          <Project :name="project.name" :module="project.module_name" :year="project.module_year"
            :owner="project.owner.name" :guide="project.guide.name" :image_src="project.image ? project.image_src : ''"
            :href="`/project/${project.id}`" v-for="project in projects.data">
          </Project>
        </div>
        <div v-else class="empty-state h-[70vh]">
          No projects!
        </div>
      </div>
    </section>

    <Pagination :links="projects.links" class="mb-3" />
  </div>
</template>

<script setup>
import { computed } from 'vue';
import { Link, usePage } from '@inertiajs/vue3';
import Pagination from '@/Components/Pagination.vue';
import Project from '@/Components/Project.vue';
import Filter from '@/Components/Filter.vue';

const page = usePage();
const user = computed(() => page.props.user);

defineProps({
  projects: Array,
  filters: Object
})
</script>