<template>
    <div
        class="container-fypms bg-slate-50/90 border h-10 font-semibold text-sm text-gray-500 flex items-center md:px-3 gap-1 sticky top-16">
        <Link href="/project" class="hover:underline">PROJECT</Link>
        <Icon icon="fa-angles-right"></Icon>
        <Link :href="`/project/${project.id}`" class="hover:underline">
        {{ project.name }}
        </Link>
    </div>
    <div class="container-fypms bg-white md:p-3 md:mb-10 border shadow-lg space-y-5">
        <section class="flex justify-between items-center">
            <h1 class="text-yellow-600">
                <Icon icon="fa-diagram-project" class="me-2" />{{ project.name }}
            </h1>
            <Link v-if="user.role == 'admin'" :href="`/project/${project.id}/edit`" class="link-primary" type="submit">
            <Icon icon="fa-pen"></Icon>
            Edit project
            </Link>
        </section>

        <div class="grid grid-cols-1 md:grid-cols-[2fr_1fr] gap-3">
            <section>
                <h2>Project details</h2>
                <div class="flex gap-5">
                    <img :src="project.image ? project.image_src : '/no_photo.png'"
                        class="object-cover w-52 h-52 block border">
                    <div class="grid grid-cols-1 md:grid-cols-2 md:gap-x-3">
                        <section class="col-span-2">
                            <h3>Module</h3>
                            <Link :href="`/module/${project.module.id}`">
                            <Icon icon="fa-book" class="text-gray-700 me-2" /> ({{ project.module.code }}) {{
                                project.module.name }} {{ project.module.year }}</Link>
                        </section>

                        <section>
                            <h3>Owner</h3>
                            <User :user="project.owner"></User>
                        </section>

                        <section>
                            <h3>Guide</h3>
                            <User :user="project.guide"></User>
                        </section>
                    </div>
                    <!-- <Link :href="`/admin/image/project/${project.id}/edit`" class="btn-primary w-full block">Change image</Link> -->
                </div>
            </section>

            <section v-if="user.role != 'student'">
                <h2>Project groups</h2>
                <div v-if="project.groups.length" class="box h-52 overflow-scroll">
                    <Link v-for="(group, index) in project.groups" :href="`/group/${group.id}`"
                        class="flex gap-3 p-2 hover:bg-slate-200 border border-t-0">
                    <h3>{{ index + 1 }}</h3>
                    <div class="flex w-full justify-between">
                        <div>
                            {{ group.name }}
                        </div>
                        <div>
                            <Icon icon="fa-people-group" class="text-gray-700">
                            </Icon>
                        </div>
                    </div>
                    </Link>
                </div>
                <div v-else class="empty-state h-52">
                    No groups for this project!
                </div>
            </section>
        </div>

        <section>
            <h2>Project description</h2>
            <div>
                {{ project.description }}
            </div>
        </section>

        <section>
            <h2>Project files</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                <section>
                    <h3>Files uploaded by owner</h3>
                    <div v-if="project.owner_files.length" class="box overflow-scroll h-52">
                        <File v-for="file in project.owner_files" href="" :name="file.name" :madeOn="file.created_at"
                            :downloadLink="file.file_url"
                            :deleteLink="project.owner_id == user.id ? `/lecturer/project/${project.id}/projectOwnerFile/${file.id}` : null">
                        </File>
                    </div>
                    <div v-else class="empty-state h-52">
                        No files
                    </div>
                    <form v-if="project.owner_id == user.id"
                        @submit.prevent="ownerFileForm.post(`/lecturer/project/${project.id}/projectOwnerFile`)"
                        class="box border-t-0 p-3">
                        <h3>Upload files</h3>
                        <input type="file" class="block" @input="ownerFileForm.files = Array.from($event.target.files)"
                            multiple />
                        <button class="btn-primary">Click to add</button>
                    </form>
                </section>
                <section>
                    <h3>Files uploaded by guide</h3>
                    <div v-if="project.guide_files.length" class="box overflow-scroll h-52">
                        <File v-for="file in project.guide_files" href="" :name="file.name" :madeOn="file.created_at"
                            :downloadLink="file.file_url"
                            :deleteLink="project.guide_id == user.id ? `/lecturer/project/${project.id}/projectGuideFile/${file.id}` : null">
                        </File>
                    </div>
                    <div v-else class="empty-state h-52">
                        No files
                    </div>
                    <form v-if="project.guide_id == user.id"
                        @submit.prevent="guideFileForm.post(`/lecturer/project/${project.id}/projectGuideFile`)"
                        class="box border-t-0 p-3">
                        <h3>Upload files</h3>
                        <input type="file" class="block" @input="guideFileForm.files = Array.from($event.target.files)"
                            multiple />
                        <button class="btn-primary">Click to add</button>
                    </form>
                </section>
            </div>
        </section>

        <details v-if="user.role == 'admin'">
            <summary class="text-gray-700 text-lg font-bold">Others</summary>
            <button class="btn-danger" @click="deleteProject">Delete project</button>
            <!-- <Link class="btn-danger" :href="`/project/${project.id}`" as="button" method="delete">Delete
            project</Link> -->
        </details>
    </div>
</template>

<script setup>
import { computed } from 'vue';
import User from '@/Components/User.vue';
import File from '@/Components/FileX.vue';
import { Link, usePage, useForm, router } from '@inertiajs/vue3';

const page = usePage();
const user = computed(() => page.props.user);

const props = defineProps({
    project: Object
})

const ownerFileForm = useForm({
    files: []
})

const guideFileForm = useForm({
    files: []
})

function deleteProject() {
    const result = confirm('Are you sure you want to delete this project?')
    if (result) {
        router.delete(`/project/${props.project.id}`)
    }
}
</script>

