@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .container-fypms{
    @apply w-full max-w-screen-xl mx-auto px-3 md:px-0;
  }

  .nav-link{
    @apply  text-gray-700 px-2 font-semibold whitespace-nowrap;
  }

  .nav-link-active{
    @apply text-yellow-400 hover:text-yellow-400 bg-gray-700 py-1 px-2 rounded-3xl font-bold whitespace-nowrap;
  }


  .btn-primary{
    @apply text-gray-700 text-lg font-bold bg-yellow-400 shadow px-3 h-11 hover:bg-yellow-500 text-center;
  }

  .btn-secondary{
    @apply border border-gray-500 text-gray-700 font-bold text-lg bg-white shadow px-3 h-11 hover:bg-gray-200 text-center;
  }

  .btn-danger{
    @apply border text-white font-bold text-lg bg-red-500 shadow px-3 py-2 hover:bg-red-700 text-center;
  }

  .file-input{
    @apply h-36 w-full border-2 border-dashed border-gray-600 flex justify-center items-center relative;
  }

  input{
    @apply h-11
  }

  select{
    @apply h-11
  }

  h1{
    
    @apply text-3xl font-bold text-gray-700
  }

  h2{
    
    @apply text-2xl font-bold text-gray-700
  }

  h3{
    @apply font-bold text-gray-700
  }

  .link-primary{
    @apply text-yellow-600 font-semibold
  }

  .box{
    @apply border border-gray-500 w-full
  }

  .empty-state{
    @apply box flex items-center justify-center font-semibold text-gray-700
  }

  td, th{
    @apply px-3 py-2
  }
}