<script setup>
import { computed } from 'vue';
import { Link } from '@inertiajs/vue3';

const props = defineProps({
  href: '',
  name: '',
  created_at: 0,
  start_date_time: 0,
  end_date_time: 0
})

const status = computed(() => {
  const currentDate = new Date()
  const startDateTime = new Date(props.start_date_time)
  const endDateTime = new Date(props.end_date_time)

  if (currentDate < startDateTime) {
    return 'not open'
  } else if (currentDate > startDateTime && currentDate < endDateTime) {
    return 'open'
  } else {
    return 'closed'
  }
})

</script>
<template>
  <Link :href="href">
  <div class="bg-white p-4 border hover:bg-gray-200">
    <div class="flex space-x-4">
      <div class="md:w-1/4">
        <h2>{{ name }}</h2>
      </div>
      <div class="md:w-3/4 text-right">
        <div>
          <span class="font-semibold">Made on: </span>
          <Icon icon="fa-clock" class="text-gray-700" /> {{ new Date(created_at).toLocaleString() }}
        </div>
      </div>
    </div>
    <div class="flex items-center justify-between mt-3">
      <div class="md:grid grid-cols-[130px_1fr]">
        <div class="font-semibold">Start Date Time:</div>
        <div>
          <Icon icon="fa-clock" class="text-gray-700" /> {{ new Date(start_date_time).toLocaleString() }}
        </div>

        <div class="font-semibold">End Date Time:</div>
        <div>
          <Icon icon="fa-clock" class="text-gray-700" /> {{ new Date(end_date_time).toLocaleString() }}
        </div>
      </div>
      <div>
        <div v-if="status == 'open'" class="font-bold p-1 border-4 border-green-500 text-green-500 rounded-xl">
          OPEN
        </div>
        <div v-else-if="status == 'closed'" class="font-bold p-1 border-4 border-red-500 text-red-500 rounded-xl">
          CLOSED
        </div>
        <div v-else class="font-bold p-1 border-4 border-gray-500 text-gray-500 rounded-xl">
          NOT OPEN
        </div>
      </div>
    </div>
  </div>
  </Link>
</template>