<script setup>
import { Link } from '@inertiajs/vue3';

const props = defineProps({
  name: '',
  madeOn: 0,
  downloadLink: '',
  deleteLink: ''
})

</script>

<template>
  <div class="bg-white py-3 px-4 border border-gray-200">
    <div class="md:flex items-center gap-3">
      <div>
        <Icon icon="fa-file" class="text-gray-600 me-2 text-xl"></Icon>
        <span class="text-gray-700 font-bold">{{ name }}</span>
      </div>
      <div class="flex-1 flex md:justify-end">
        <div class="md:flex items-center gap-10">
          <div class="text-gray-700 ">
            <Icon icon="fa-clock" class="me-1"></Icon>Made on: {{ new Date(madeOn).toLocaleString() }}
          </div>
          <div class="flex gap-5">
            <a v-if="downloadLink" :href="downloadLink" class="cursor-pointer">
              <Icon icon="fa-download" class="text-gray-700 text-xl"></Icon>
            </a>
            <Link v-if="deleteLink" :href="deleteLink" as="button" method="delete">
            <Icon icon="fa-trash" class="text-red-500 text-xl"></Icon>
            </Link>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>