<template>
  <form @submit.prevent="filter">
    <div class="flex md:flex-row flex-col items-center gap-2 md:gap-4 mb-10 md:mb-4">
      <div class="w-full md:w-60">
        <input class="w-full" type="text" placeholder="Name" v-model="filterForm.name" />
      </div>

      <div class="w-full md:w-60">
        <select class="w-full" v-model="filterForm.sortBy">
          <option value="latest">Latest</option>
          <option value="oldest">Oldest</option>
        </select>
      </div>

      <div class="w-full md:w-auto">
        <button class="w-full btn-secondary">
          Filter
        </button>
      </div>

      <div class="w-full md:w-auto">
        <button class="w-full btn-secondary" type="button" @click="clear">
          Clear
        </button>
      </div>
    </div>
  </form>
</template>

<script setup>
import { useForm } from '@inertiajs/vue3';

const props = defineProps({
  name: String,
  sortBy: String,
  current: String
});

const filterForm = useForm({
  name: props.name ?? null,
  sortBy: props.sortBy ?? 'latest'
})

const filter = () => {
  filterForm.get(
    props.current,
    {
      preserveState: true,
      preserveScroll: true
    }
  )
}

const clear = () => {
  filterForm.name = null
  filterForm.sortBy = 'latest'
  filter()
}
</script>