<script setup>

import { Link } from '@inertiajs/vue3';
defineProps({
    href: '',
    name: '',
    project: '',
    leader: '',
    memberCount: 0,
    year: 0
})

</script>
<template>
    <Link class="block bg-white p-4 border hover:bg-slate-200" :href="href">
    <div>
        <h2>{{ name }}</h2>
        <div class="text-gray-600 mb-5">
            <div class="md:grid grid-cols-[250px_1fr]">
                <h3><Icon icon="fa-diagram-project" class="me-2"></Icon>{{ project }}</h3>
                <h3><Icon icon="fa-calendar" class="me-2"></Icon>{{ year }}</h3>
            </div>
        </div>
        <div class="text-gray-600">
            <div class="md:grid grid-cols-[250px_1fr]">
                <div>Leader: {{ leader }}</div>
                <div>Member count: {{ memberCount }}</div>
            </div>
        </div>
    </div>
    </Link>
</template>