<script setup>

import { Link } from '@inertiajs/vue3';
defineProps({
    href: '',
    image_src: '',
    name: '',
    code: '',
    year: 0
})

</script>
<template>
    <Link :href="href" class="bg-white p-4 shadow-lg box hover:bg-slate-200">
    <img :src="image_src != '' ? image_src : '/no_photo.png'" class="w-full aspect-[4/3] border object-cover">
    <h2 class="truncate">{{ name }}</h2>
    <h3 class="text-gray-700">{{ code }}</h3>
    <h3 class="text-gray-700">
        <Icon icon="fa-calendar" class="me-2"></Icon>{{ year }}
    </h3>
    </Link>
</template>