<script setup>
import { Link } from '@inertiajs/vue3';

defineProps({
  links: Array
})
</script>

<template>
  <div v-if="links.length > 3" class="flex justify-center flex-wrap">
    <Link v-for="(link, index) in links" :href="link.url" :index="index">
    <button type="button" v-if="index == 0" class="border-2 border-e-0 border-yellow-500 btn-primary">Prev</button>
    <button type="button" v-else-if="index == links.length - 1"
      class="border-2 border-s-0 border-yellow-500 btn-primary">Next</button>
    <div v-else="index == 0"
      class="flex font-bold text-lg text-gray-700 items-center justify-center border-yellow-500 h-11 px-4"
      :class="{ 'bg-white hover:bg-slate-200': link.active, 'bg-yellow-400 hover:bg-yellow-500': !link.active, 'border-2': index == links.length - 2, 'border-2 border-e-0': index != links.length - 2 }">
      {{ link.label }}
    </div>
    </Link>
  </div>
</template>