<script setup>

import { Link } from '@inertiajs/vue3';
defineProps({
    href: '',
    image_src: '',
    name: '',
    module: '',
    guide: '',
    owner: '',
    year: ''
})

</script>
<template>
    <Link class="bg-white border p-4 hover:bg-slate-200 flex" :href="href">
    <img :src="image_src != '' ? image_src : '/no_photo.png'" class="h-24 w-24 object-cover border">
    <div class="flex-1 px-3 flex flex-col">
        <h2
        >{{ name }}</h2>
        <div class="text-gray-600">
            <div class="md:grid grid-cols-[250px_1fr]">
                <h3><Icon icon="fa-book" class="me-2"></Icon>{{ module }}</h3>
                <h3><Icon icon="fa-calendar" class="me-2"></Icon>{{ year }}</h3>
            </div>
        </div>
        <div class="text-gray-600 flex-1 flex flex-col justify-end">
            <div class="md:grid grid-cols-[250px_1fr]">
                <div>Owner: {{ owner }}</div>
                <div>Guide: {{ guide }}</div>
            </div>
        </div>
    </div>
    </Link>
</template>