<template>
  <h1 class="flex items-center text-yellow-600">
    <Link :href="href" class="w-12 h-12 rounded-full me-1 flex justify-center items-center hover:bg-yellow-200 cursor-pointer">
      <Icon icon="fa-home"></Icon>
    </Link>
    <slot></slot>
  </h1>
</template>

<script setup>
import { Link } from '@inertiajs/vue3';

defineProps({
  href: String
})
</script>