<template>
  <Link class="flex flex-wrap items-center gap-3" :href="`/profile/user/${user.id}`">
    <div>
      <Icon v-if="user.role == 'admin'" icon="fa-helmet-safety" class="text-gray-700 text-lg"></Icon>
      <Icon v-else-if="user.role == 'student'" icon="fa-graduation-cap" class="text-gray-700 text-lg"></Icon>
      <Icon v-else-if="user.role == 'lecturer'" icon="fa-person-chalkboard" class="text-gray-700 text-lg"></Icon>
    </div>
    <div class="leading-4">
      <div>{{ user.name }} ({{ user.role }})</div>
      <div class="text-sm font-light">{{ user.email }}</div>
    </div>
  </Link>
</template>

<script setup>
import { Link } from '@inertiajs/vue3';

defineProps({
  user: Object
})
</script>