<template>
    <div
        class="container-fypms bg-slate-50/90 border h-10 font-semibold text-sm text-gray-500 flex items-center md:px-3 gap-1 sticky top-16">
        <Link href="/module" class="hover:underline">MODULE</Link>
        <Icon icon="fa-angles-right"></Icon>
        <Link :href="`/module/create`" class="hover:underline">
        CREATE
        </Link>
    </div>
    <div class="container-fypms bg-white md:p-3 md:mb-10 border shadow-lg space-y-5">
        <h2>
            Create Module
            <Icon icon="fa-book" class="me-2"></Icon>
        </h2>
        <form @submit.prevent="form.post('/module')">
            <div class="mt-5 grid grid-cols-1 md:grid-cols-2 gap-3">
                <div>
                    <h3>Module Name</h3>
                    <div>
                        <input class="w-full" type="text" id="moduleName" v-model="form.name" required
                            placeholder="Module Name" />
                        <div v-if="form.errors.name" class="text-red-600">
                            {{ form.errors.name }}
                        </div>
                    </div>
                </div>

                <div>
                    <h3>Module Code</h3>
                    <div>
                        <input class="w-full" type="text" id="moduleCode" v-model="form.code" required
                            placeholder="Module Code" />
                        <div v-if="form.errors.code" class="text-red-600">
                            {{ form.errors.code }}
                        </div>
                    </div>
                </div>

                <div class="md:col-span-2">
                    <h3>Year</h3>
                    <div>
                        <input class="w-full" type="number" id="year" v-model="form.year" required placeholder="Year" />
                        <div v-if="form.errors.year" class="text-red-600">
                            {{ form.errors.year }}
                        </div>
                    </div>
                </div>

                <div class="md:col-span-2">
                    <h3>Module Description</h3>
                    <div>
                        <textarea rows="4" class="w-full h-32" id="moduleDescription" v-model="form.description" required
                            placeholder="Module Description"></textarea>
                        <div v-if="form.errors.description" class="text-red-600">
                            {{ form.errors.description }}
                        </div>
                    </div>
                </div>

                <div class="md:col-span-2">
                    <h3>Module image</h3>
                    <input type="file" class="w-full" @input="form.image = $event.target.files[0]" />
                    <div v-if="form.errors.image" class="text-red-600">
                        {{ form.errors.image }}
                    </div>
                </div>

                <div class="md:col-span-2 space-x-3">
                    <button class="btn-primary" type="submit">Create</button>
                    <a onclick="history.back()"><button class="btn-secondary" type="button">Cancel</button></a>
                </div>
            </div>
        </form>
    </div>
</template>

<script setup>
import { useForm, Link } from "@inertiajs/vue3";

const form = useForm({
    name: null,
    code: null,
    year: null,
    image: null,
    description: null,
});
</script>
