<template>
  <div class="container-fypms">
      <div class="module-form text-center border w-6/12 mx-auto mt-20 border-black">
        <TitleReturn class="my-2">Change image for {{ module.name }}</TitleReturn>
         
         <form enctype="multipart/form-data" @submit.prevent="form.post(`/admin/image/module/${module.id}`)">
            <div class="my-7">
                Current image
                <img :src="props.module.image ? props.module.image_src : '/no_photo.jpg'" class="rounded h-52 w-60 mx-auto object-cover">
                New image
                <input class="rounded-md w-96" type="file" @input="form.image = $event.target.files[0]">
                <div v-if="form.errors.image" class="text-red-600">
                  {{ form.errors.image }}
                </div>
            </div>
            <div class="my-4 mx-auto space-x-4">
                <Link :href="`/admin/image/module/${module.id}`" as="button" method="delete" class="btn-primary">Remove</Link>
                <button class="btn-primary">Save changes</button>
            </div>
          </form>
      </div>
  </div>
</template>

<script setup>
  import { useForm, Link } from '@inertiajs/vue3';
  import TitleReturn from "@/Components/TitleReturn.vue";

  const props = defineProps({
    module: Object
  });

  const form = useForm({
    'image': null,
  })
</script>