<template>
  <div
    class="container-fypms bg-slate-50/90 border h-10 font-semibold text-sm text-gray-500 flex items-center md:px-3 gap-1 sticky top-16">
    <Link href="/module" class="hover:underline">MODULE</Link>
    <Icon icon="fa-angles-right"></Icon>
    <Link :href="`/module/${module.id}`" class="hover:underline">
    {{ module.name }}
    </Link>
    <Icon icon="fa-angles-right"></Icon>
    <Link :href="`/module/${module.id}/edit`" class="hover:underline">
    EDIT
    </Link>
  </div>
  <div class="container-fypms bg-white md:p-3 md:mb-10 border shadow-lg space-y-5">
    <h2>
      <Icon icon="fa-pen" class="me-2"></Icon>Edit module
    </h2>
    <details>
      <summary class="text-gray-700 text-lg font-bold">Edit image</summary>
      <form enctype="multipart/form-data" @submit.prevent="imageForm.post(`/admin/image/module/${module.id}`)">
        <h3>Current image</h3>
        <img :src="props.module.image ? props.module.image_src : '/no_photo.png'" class="h-52 w-52 border object-cover">
        <Link :href="`/admin/image/module/${module.id}`" as="button" method="delete" class="btn-danger w-52">Remove</Link>
        <h3>New image</h3>
        <input type="file" @input="imageForm.image = $event.target.files[0]">
        <div v-if="imageForm.errors.image" class="text-red-600">
          {{ imageForm.errors.image }}
        </div>
        <div>
          <button class="btn-primary">Save image</button>
        </div>
      </form>
    </details>

    <form class="mt-5 grid grid-cols-1 md:grid-cols-2 gap-3"
      @submit.prevent="form.put(`/module/${props.module.id}`)">
      <div>
        <h3>Module name</h3>
        <input class="w-full" type="text" id="moduleName" v-model="form.name" required placeholder="Module Name">
        <div v-if="form.errors.name" class="text-red-600">
          {{ form.errors.name }}
        </div>
      </div>

      <div>
        <h3>Module code</h3>
        <input class="w-full" type="text" id="moduleCode" v-model="form.code" required placeholder="Module Code">
        <div v-if="form.errors.code" class="text-red-600">
          {{ form.errors.code }}
        </div>
      </div>

      <div class="md:col-span-2">
        <h3>Year</h3>
        <input class="w-full" type="number" id="year" v-model="form.year" required placeholder="Year">
        <div v-if="form.errors.year" class="text-red-600">
          {{ form.errors.year }}
        </div>
      </div>

      <div class="md:col-span-2">
        <h3>Module description</h3>
        <textarea rows="4" class="w-full" id="moduleDescription" v-model="form.description" required
          placeholder="Module Description"></textarea>
        <div v-if="form.errors.description" class="text-red-600">
          {{ form.errors.description }}
        </div>
      </div>

      <div class="md:col-span-2 space-x-3">
        <button class="btn-primary" type="submit">Save changes</button>
        <a onclick="history.back()"><button class="btn-secondary" type="button">Cancel</button></a>
      </div>
    </form>
  </div>
</template>

<script setup>
import { useForm, Link } from '@inertiajs/vue3';

const props = defineProps({
  module: Object
});

const form = useForm({
  'name': props.module.name,
  'code': props.module.code,
  'year': props.module.year,
  'description': props.module.description
})

const imageForm = useForm({
  image: null,
})
</script>