<template>
  <div class="container-fypms">
    <section class="my-3">
      <div class="mb-5 flex justify-between">
        <h1>
          <Icon icon="fa-book" class="me-2"></Icon>Modules
        </h1>
        <Link class="btn-primary" href="/module/create" as="button">
        Create module
        </Link>
      </div>

      <!-- <Icon icon="fa-user-secret" class="text-4xl"></Icon> -->
      <Filter :name="filters.name" :sortBy="filters.sortBy" :current="`module`"></Filter>

      <div>
        <div v-if="modules.data.length" class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
          <Module :name="module.name" :image_src="module.image ? module.image_src : ''" :href="`/module/${module.id}`"
            :code="module.code" :year="module.year" v-for="module in modules.data">
          </Module>
        </div>
        <div v-else class="empty-state h-[70vh]">
          No modules\!
        </div>
      </div>
    </section>

    <Pagination :links="modules.links" class="mb-3" />
  </div>
</template>

<script setup>
import { Link } from '@inertiajs/vue3';
import Pagination from '@/Components/Pagination.vue';
import Module from '@/Components/Module.vue';
import Filter from '@/Components/Filter.vue';

defineProps({
  modules: Array,
  filters: Object
})
</script>