<template>
  <div
    class="container-fypms bg-slate-50/90 border h-10 font-semibold text-sm text-gray-500 flex items-center md:px-3 gap-1 sticky top-16">
    <Link href="/module" class="hover:underline">MODULE</Link>
    <Icon icon="fa-angles-right"></Icon>
    <Link :href="`/module/${module.id}`" class="hover:underline">
    {{ module.name }}
    </Link>
  </div>
  <div class="container-fypms bg-white md:p-3 md:mb-10 border shadow-lg space-y-5">
    <section class="flex justify-between items-center">
      <h1 class="text-yellow-600">
        <Icon icon="fa-book" class="700 me-2" />{{ module.name }}
      </h1>
      <Link v-if="user.role == 'admin'" :href="`/module/${module.id}/edit`" class="link-primary" type="submit">
      <Icon icon="fa-pen"></Icon>
      Edit module
      </Link>
    </section>

    <section>
      <h2>Module details</h2>
      <div class="flex flex-col md:flex-row gap-5">
        <img :src="module.image ? module.image_src : '/no_photo.png'" class="object-cover w-52 h-52 block border">
        <div class="space-y-3">
          <div class="flex gap-10">
            <section>
              <h3>Code</h3>
              <div>{{ module.code }}</div>
            </section>

            <section>
              <h3>Year</h3>
              <div>{{ module.year }}</div>
            </section>
          </div>

          <section class="col-span-2">
            <h3>Description</h3>
            <div>{{ module.description }}</div>
          </section>
        </div>
        <!-- <Link :href="`/admin/image/module/${module.id}/edit`" class="btn-primary w-full block">Change image</Link> -->
      </div>
    </section>

    <section>
      <h2>Related projects</h2>
      <div v-if="module.projects.length" class="box">
        <Project :name="project.name" :module="project.module_name" :year="project.module_year"
          :owner="project.owner.name" :guide="project.guide.name" :image_src="project.image ? project.image_src : ''"
          :href="`/project/${project.id}`" v-for="project in module.projects">
        </Project>
      </div>
      <div v-else class="empty-state h-52">
        No projects
      </div>
    </section>

    <details v-if="user.role == 'admin'">
      <summary class="text-gray-700 text-lg font-bold">Others</summary>
      <button class="btn-danger" @click="deleteModule">Delete module</button>
    </details>
  </div>
</template>

<script setup>
import { computed } from 'vue';
import { Link, usePage, router } from '@inertiajs/vue3';
import Project from '@/Components/Project.vue';

const page = usePage();
const user = computed(() => page.props.user);

const props = defineProps({
  module: Object
});

function deleteModule() {
    const result = confirm('Are you sure you want to delete this module?')
    if (result) {
        router.delete(`/module/${props.module.id}`)
    }
}
</script>