<template>
    <div
        class="container-fypms bg-slate-50/90 border h-10 font-semibold text-sm text-gray-500 flex items-center md:px-3 gap-1 sticky top-16">
        <Link href="/admin/lecturer/user" class="hover:underline">LECTURER</Link>
        <Icon icon="fa-angles-right"></Icon>
        <Link :href="`/admin/lecturer/user/create`" class="hover:underline">
        CREATE
        </Link>
    </div>
    <div class="container-fypms bg-white md:p-3 md:mb-10 border shadow-lg space-y-5">
        <h2 class="my-2">
            Create lecturer
            <Icon icon="fa-person-chalkboard" class="me-2"></Icon>
        </h2>
        <form @submit.prevent="
            form.post(`/admin/lecturer/user`)
            ">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
                <div>
                    <h3>Name</h3>
                    <div>
                        <input class="w-full" v-model="form.name" required placeholder="Lecturer name" />
                        <div v-if="form.errors.name" class="text-red-600">
                            {{ form.errors.name }}
                        </div>
                    </div>
                </div>

                <div>
                    <h3>Email</h3>
                    <div>
                        <input class="w-full" type="email" v-model="form.email" required placeholder="Email" />
                        <div v-if="form.errors.email" class="text-red-600">
                            {{ form.errors.email }}
                        </div>
                    </div>
                </div>

                <div>
                    <h3>CID no.</h3>
                    <div>
                        <input class="w-full" type="number" v-model="form.cid" required
                            placeholder="Citizen identity card number" />
                        <div v-if="form.errors.cid" class="text-red-600">
                            {{ form.errors.cid }}
                        </div>
                    </div>
                </div>

                <div class="md:col-span-2 space-x-3">
                    <button class="btn-primary" type="submit">Create</button>
                    <a onclick="history.back()"><button class="btn-secondary" type="button">Cancel</button></a>
                </div>
            </div>
        </form>
    </div>
</template>

<script setup>
import { useForm, Link } from "@inertiajs/vue3";

const form = useForm({
    name: '',
    email: '',
    cid: null,
});
</script>
