<template>
    <div
        class="container-fypms bg-slate-50/90 border h-10 font-semibold text-sm text-gray-500 flex items-center md:px-3 gap-1 sticky top-16">
        <Link href="/admin/lecturer/user" class="hover:underline">LECTURER</Link>
        <Icon icon="fa-angles-right"></Icon>
        <Link :href="`/profile/user/${lecturer.id}`" class="hover:underline">
        {{ lecturer.name }}
        </Link>
        <Icon icon="fa-angles-right"></Icon>
        <Link :href="`/admin/lecturer/user/${lecturer.id}/edit`" class="hover:underline">
        EDIT
        </Link>
    </div>
    <div class="container-fypms bg-white md:p-3 md:mb-10 border shadow-lg space-y-5">
        <h2>
            <Icon icon="fa-pen" class="me-2"></Icon>Edit lecturer
        </h2>
        <form @submit.prevent="
            form.patch(`/admin/lecturer/user/${lecturer.id}`)
            ">
            <div class="mt-5 grid grid-cols-1 md:grid-cols-2 gap-3">
                <div>
                    <h3>Name</h3>
                    <div>
                        <input class="w-full" v-model="form.name" required />
                        <div v-if="form.errors.name" class="text-red-600">
                            {{ form.errors.name }}
                        </div>
                    </div>
                </div>

                <div>
                    <h3>Email</h3>
                    <div>
                        <input class="w-full" type="email" v-model="form.email" required />
                        <div v-if="form.errors.email" class="text-red-600">
                            {{ form.errors.email }}
                        </div>
                    </div>
                </div>

                <div class="md:col-span-2">
                    <h3>CID no.</h3>
                    <div>
                        <input class="w-full" type="number" v-model="form.cid" required />
                        <div v-if="form.errors.cid" class="text-red-600">
                            {{ form.errors.cid }}
                        </div>
                    </div>
                </div>

                <div class="md:col-span-2 space-x-3">
                    <button class="btn-primary" type="submit">Save changes</button>
                    <a onclick="history.back()"><button class="btn-secondary" type="button">Cancel</button></a>
                </div>
            </div>
        </form>
    </div>
</template>

<script setup>
import { useForm, Link } from "@inertiajs/vue3";

const props = defineProps({
    lecturer: Object,
});

const form = useForm({
    name: props.lecturer.name,
    email: props.lecturer.email,
    cid: props.lecturer.lecturer_data.cid,
});
</script>
