<template>
  <div class="container-fypms">
    <section class="my-3">
      <div class="mb-5 md:flex justify-between">
        <h1>
          <Icon icon="fa-person-chalkboard" class="me-2"></Icon>Lecturers
        </h1>
        <div class="flex items-center gap-3 mt-3 md:mt-0">
          <Link href="/admin/lecturer/user/create" class="flex-1 md:flex-none btn-primary" as="button">
          Add lecturer
          </Link>
          <Link href="/admin/lecturer/upload" class="flex-1 md:flex-none btn-primary" as="button">
          Upload sheet
          </Link>
        </div>
      </div>

      <Filter :name="filters.name" :sortBy="filters.sortBy" :current="`/admin/lecturer/user`"></Filter>

      <div class="mb-1 text-right">
        <a href="/admin/lecturer/export" class="link-primary font-bold text-gray-700">
          Download lecturer sheet
          <Icon icon="fa-download"></Icon>
        </a>
      </div>

      <div class="box overflow-auto bg-white">
        <div>
          <table class="w-full">
            <thead class="h-16">
              <tr>
                <th scope="col" class="text-left text-gray-700 min-w-[100px]">CID</th>
                <th scope="col" class="text-left text-gray-700 min-w-[200px]">Name</th>
                <th scope="col" class="text-left text-gray-700 min-w-[300px]"> Email</th>
                <th scope="col" class="text-left text-gray-700">Actions</th>
              </tr>
            </thead>

            <tbody>
              <tr v-for="(lecturer, index) in lecturers.data" class="h-16"
                :class="index % 2 == 0 ? 'bg-gray-200' : 'bg-gray-100'">
                <td scope="col" class="">{{ lecturer.lecturer_data.cid }}</td>
                <td scope="col" class="">{{ lecturer.name }}</td>
                <td scope="col" class="">{{ lecturer.email }}</td>
                <td scope="col" class="space-x-10 whitespace-nowrap">
                  <Link :href="`/profile/user/${lecturer.id}`" class="link-primary whitespace-nowrap" as="button">
                  <Icon icon="fa-user" class="me-1"></Icon>Preview</Link>
                  <Link :href="`/admin/lecturer/user/${lecturer.id}/edit`" class="link-primary whitespace-nowrap"
                    as="button">
                  <Icon icon="fa-pen" class="me-1"></Icon>Edit</Link>
                  <!-- <Link :href="`/admin/lecturer/user/${lecturer.id}`" method="delete"
                    class="link-primary whitespace-nowrap text-red-600" as="button">
                  <Icon icon="fa-trash"></Icon>
                  Delete</Link> -->
                  <button class="link-primary whitespace-nowrap text-red-600" @click="deleteLecturer(lecturer.id)">
                    <Icon icon="fa-trash"></Icon> Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <Pagination :links="lecturers.links" class="mb-3" />
  </div>
</template>

<script setup>
import { Link, router } from '@inertiajs/vue3';
import Filter from '@/Components/Filter.vue';
import Pagination from '@/Components/Pagination.vue';

const props = defineProps({
  lecturers: Array,
  filters: Object
})

function deleteLecturer(id) {
  const result = confirm('Are you sure you want to delete this lecturer?')
  if (result) {
    router.delete(`/admin/lecturer/user/${id}`)
  }
}
</script>