<template>
  <h2 class="my-2">
    <Icon icon="fa-lock" class="me-2"></Icon>Change Password
  </h2>
  <form @submit.prevent="form.patch(`/change-password/user/${user.id}`)" class="grid grid-cols-1 gap-3">
    <div>
      <h3>Old password</h3>
      <input type="password" class="w-full" v-model="form.oldPassword" placeholder="Old password">
      <div v-if="form.errors.oldPassword" class="text-red-600">
        {{ form.errors.oldPassword }}
      </div>
    </div>

    <div>
      <h3>New password</h3>
      <input type="password" class="w-full" v-model="form.newPassword" placeholder="New password">
      <div v-if="form.errors.newPassword" class="text-red-600">
        {{ form.errors.newPassword }}
      </div>
    </div>

    <div>
      <h3>Confirm password</h3>
      <input type="password" class="w-full" v-model="form.confirmPassword" placeholder="Confirm password">
      <div v-if="form.errors.confirmPassword" class="text-red-600">
        {{ form.errors.confirmPassword }}
      </div>
    </div>

    <div class="space-x-3">
      <button class="btn-primary" type="submit">Save</button>
      <a onclick="history.back()"><button class="btn-secondary" type="button">Cancel</button></a>
    </div>
  </form>
</template>

<script setup>
import { useForm } from '@inertiajs/vue3';
import TitleReturn from "@/Components/TitleReturn.vue";

defineProps({
  user: Object
})

const form = useForm({
  oldPassword: '',
  newPassword: '',
  confirmPassword: ''
})
</script>