<template>
  <h2 class="my-2">
    <Icon icon="fa-pen" class="me-2"></Icon>Edit User
  </h2>

  <form @submit.prevent="form.patch(`/profile/user/${user.id}`)" class="mt-5 grid grid-cols-1 md:grid-cols-2 gap-3">
    <div>
      <h3>Name</h3>
      <input class="w-full" v-model="form.name">
      <div v-if="form.errors.name" class="text-red-600">
        {{ form.errors.name }}
      </div>
    </div>

    <div>
      <h3>Email</h3>
      <input class="w-full" v-model="form.email">
      <div v-if="form.errors.email" class="text-red-600">
        {{ form.errors.email }}
      </div>
    </div>

    <div v-if="user.role == 'student'">
      <h3>Student ID</h3>
      <input class="w-full" v-model="form.id">
      <div v-if="form.errors.id" class="text-red-600">
        {{ form.errors.id }}
      </div>
    </div>

    <div v-if="user.role == 'student'">
      <h3>Admission year</h3>
      <input class="w-full" v-model="form.admission_year">
      <div v-if="form.errors.admission_year" class="text-red-600">
        {{ form.errors.admission_year }}
      </div>
    </div>

    <div v-if="user.role == 'student'" class="col-span-2">
      <h3>Programme</h3>
      <select class="w-full" v-model="form.programme">
        <option value="Bachelor of Science in Computer Science">BSc CS</option>
        <option value="Bachelor of Science in Information Technology">BSc IT</option>
        <option value="Bachelor Of Computer Science (AI Development & Data Science)">BSc CS AI
          Development & Data Science</option>
        <option value="Bachelor Of Computer Science (Blockchain Development)">BSc CS Blockchain
          Development</option>
        <option value="Bachelor Of Computer Science (Full Stack Development)">BSc CS Full Stack
          Development</option>
        <option value="Bachelor of Digital Media & Development">Bachelor of Digital Media & Development
        </option>
      </select>
      <div v-if="form.errors.programme" class="text-red-600">
        {{ form.errors.programme }}
      </div>
    </div>

    <div v-if="user.role == 'lecturer'" class="col-span-2">
      <h3>CID</h3>
      <input class="w-full" v-model="form.cid">
      <div v-if="form.errors.cid" class="text-red-600">
        {{ form.errors.cid }}
      </div>
    </div>

    <div class="space-x-3">
      <button class="btn-primary" type="submit">Save changes</button>
      <a onclick="history.back()"><button class="btn-secondary" type="button">Cancel</button></a>
    </div>
  </form>
</template>

<script setup>
import { useForm } from '@inertiajs/vue3';
import TitleReturn from "@/Components/TitleReturn.vue";

const props = defineProps({
  user: Object
})

const form = useForm({
  name: props.user.name,
  email: props.user.email,
  id: props.user.student_data ? props.user.student_data.id : null,
  programme: props.user.student_data ? props.user.student_data.programme : null,
  admission_year: props.user.student_data ? props.user.student_data.admission_year : null,
  cid: props.user.lecturer_data ? props.user.lecturer_data.cid : null,
})
</script>