<template>
  <TitleReturn href="/" class="my-2">User Profile</TitleReturn>
  <div>
    <div class="border flex gap-3">
      <img :src="`/user.png`" class="w-36 h-36 block">
      <div>
        <div class="mb-3 font-semibold text-gray-600 mt-2">
          {{ user.role.charAt(0).toUpperCase() + user.role.slice(1) }}
          <Icon v-if="user.role == 'student'" icon="fa-graduation-cap"></Icon>
          <Icon v-if="user.role == 'lecturer'" icon="fa-person-chalkboard"></Icon>
          <Icon v-if="user.role == 'admin'" icon="fa-helmet-safety"></Icon>
        </div>

        <div class="text-xl font-bold">{{ user.name }}</div>
        <div class="text-gray-500">{{ user.email }}</div>
      </div>
    </div>

    <div class="mt-3 grid grid-cols-1 md:grid-cols-2 gap-3">
      <div class="border flex flex-col gap-5 p-5" :class="{ 'col-span-2': user.role == 'admin' }">
        <div>
          <h3>Account created on</h3>
          <Icon icon="fa-clock" class="text-gray-600"></Icon>
          {{ new Date(user.created_at).toLocaleString() }}
        </div>

        <div>
          <h3>Last updated on</h3>
          <Icon icon="fa-clock" class="text-gray-600"></Icon>
          {{ new Date(user.created_at).toLocaleString() }}
        </div>

        <div v-if="canEdit" class="flex flex-col flex-1 justify-end gap-3 mt-5">
          <Link :href="`/profile/user/${user.id}/edit`" class="block link-primary">
          <Icon icon="fa-pen"></Icon>
          Edit profile
          </Link>

          <Link :href="`/change-password/user/${user.id}/edit`" class="block link-primary">
          <Icon icon="fa-lock"></Icon>
          Change password
          </Link>

          <Link href="/logout" method="delete" class="block link-primary">
          <Icon icon="fa-right-from-bracket"></Icon>
          logout
          </Link>
        </div>
      </div>
      <div v-if="user.role == 'lecturer'" class="border space-y-5 p-5">
        <div>
          <h3>Citizen Idenity Card No.</h3>
          {{ user.lecturer_data.cid }}
        </div>
      </div>
      <div v-if="user.role == 'student'" class="border space-y-5 p-5">
        <div>
          <h3>ID</h3>
          {{ user.student_data.id }}
        </div>
        <div>
          <h3>Programme</h3>
          {{ user.student_data.programme }}
        </div>
        <div>
          <h3>Admission year</h3>
          {{ user.student_data.admission_year }}
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { Link } from '@inertiajs/vue3';
import TitleReturn from "@/Components/TitleReturn.vue";

defineProps({
  user: Object,
  canEdit: Boolean
})
</script>