<template>
    <div
        class="container-fypms bg-slate-50/90 border h-10 font-semibold text-sm text-gray-500 flex items-center md:px-3 gap-1 sticky top-16">
        <Link href="/evaluation" class="hover:underline">EVALUATION</Link>
        <Icon icon="fa-angles-right"></Icon>
        <Link :href="`/evaluation/create`" class="hover:underline">
        CREATE
        </Link>
    </div>
    <div class="container-fypms bg-white md:p-3 md:mb-10 border shadow-lg space-y-5">
        <h2>
            Create Evaluation
            <Icon icon="fa-file-waveform" class="me-2"></Icon>
        </h2>
        <form @submit.prevent="
            form.transform((data) => ({
                ...data,
                evaluators: data.evaluators.map((evaluator) => evaluator.id),
            })).post('/evaluation')
            ">
            <div class="mt-5 grid grid-cols-1 md:grid-cols-2 gap-3">
                <div class="md:col-span-2">
                    <h3>Name</h3>
                    <div>
                        <input class="w-full" v-model="form.name" />
                        <div v-if="form.errors.name" class="text-red-600">
                            {{ form.errors.name }}
                        </div>
                    </div>
                </div>

                <div class="md:col-span-2">
                    <h3>Description</h3>
                    <div>
                        <textarea rows="4" class="w-full" v-model="form.description"
                            placeholder="Evaluation description"></textarea>
                        <div v-if="form.errors.description" class="text-red-600">
                            {{ form.errors.description }}
                        </div>
                    </div>
                </div>

                <div>
                    <h3>Module</h3>
                    <div>
                        <select class="w-full" v-model="currentModule">
                            <option v-for="module in modules" :value="module">
                                ({{ module.code }}) {{ module.name }}
                                {{ module.year }}
                            </option>
                        </select>
                    </div>
                </div>

                <div>
                    <h3>Project</h3>
                    <div>
                        <select class="w-full" v-model="currentProject">
                            <option v-if="currentModule.projects" v-for="project in currentModule.projects"
                                :value="project">
                                {{ project.name }}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="md:col-span-2">
                    <h3>Group</h3>
                    <div>
                        <select class="w-full" v-model="form.group_id">
                            <option v-if="currentProject" v-for="group in currentProject.groups" :value="group.id">
                                {{ group.name }}
                            </option>
                        </select>
                        <div v-if="form.errors.group_id" class="text-red-600">
                            {{ form.errors.group_id }}
                        </div>
                    </div>
                </div>

                <div>
                    <h3>Start date & time</h3>
                    <div>
                        <input class="w-full" type="datetime-local" v-model="form.start_date_time" />

                        <div v-if="form.errors.start_date_time" class="text-red-600">
                            {{ form.errors.start_date_time }}
                        </div>
                    </div>
                </div>

                <div>
                    <h3>End date & time</h3>
                    <div>
                        <input class="w-full" type="datetime-local" v-model="form.end_date_time" />

                        <div v-if="form.errors.end_date_time" class="text-red-600">
                            {{ form.errors.end_date_time }}
                        </div>
                    </div>
                </div>

                <div class="md:col-span-2">
                    <h3>Rubric url</h3>
                    <div>
                        <input class="w-full" v-model="form.rubric" />
                        <div v-if="form.errors.rubric" class="text-red-600">
                            {{ form.errors.rubric }}
                        </div>
                    </div>
                </div>

                <div class="md:col-span-2">
                    <h3>Files</h3>
                    <div>
                        <input type="file" class="w-full" @input="form.files = Array.from($event.target.files)" multiple />
                        <div v-if="form.errors.files" class="text-red-600">
                            {{ form.errors.files }}
                        </div>
                    </div>
                </div>

                <div class="md:col-span-2">
                    <h3>Evaluators</h3>
                    <div>
                        <button type="button" class="btn-secondary mb-3 w-full" @click="showEvaluatorModal = true">
                            Pick evaluators
                        </button>
                        <div v-if="form.evaluators.length != 0" class="box overflow-scroll h-52 p-3">
                            <div v-for="(evaluator, index) in form.evaluators"
                                class="flex justify-between items-center gap-10 mb-3">
                                <div>{{ index + 1 }}</div>
                                <div class="flex-1">
                                    <div class="font-bold">
                                        {{ evaluator.name }}({{ evaluator.role }})
                                    </div>
                                    <div class="text-sm text-gray-600">
                                        {{ evaluator.email }}
                                    </div>
                                </div>
                                <div>
                                    <button class="btn-secondary" type="button"
                                        @click="form.evaluators.splice(form.evaluators.map(evaluator => evaluator.id).indexOf(evaluator.id), 1)">
                                        remove
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="empty-state h-52" v-else>
                            No evaluators selected!
                        </div>
                        <div v-if="form.errors.evaluators" class="text-red-600">
                            {{ form.errors.evaluators }}
                        </div>

                        <div v-if="showEvaluatorModal">
                            <div
                                class="w-full md:w-[500px] bg-white p-5 rounded border border-gray-300 shadow-2xl fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
                                <div>Select evaluators for this evaluation</div>

                                <form class="flex gap-2" @submit.prevent="search">
                                    <input class="flex-1" type="text" placeholder="Search name or email"
                                        v-model="searchForm.evaluatorName" />
                                    <button class="btn-primary">Search</button>
                                </form>

                                <div class="mt-3">Lecturer list</div>

                                <div class="h-[150px] space-y-3 mb-3 overflow-auto">
                                    <div v-if="evaluators" class="flex justify-between items-center"
                                        v-for="evaluator in evaluators">
                                        <div>
                                            <div class="font-bold">
                                                {{ evaluator.name }}({{
                                                    evaluator.role
                                                }})
                                            </div>
                                            <div class="text-sm text-gray-600">
                                                {{ evaluator.email }}
                                            </div>
                                        </div>
                                        <div>
                                            <button v-if="(() => {
                                                if (form.evaluators.includes(evaluator)) {
                                                    return false
                                                }
                                                return true
                                            })()" class="btn-secondary" type="button" @click="
    form.evaluators.push(evaluator);
">
                                                pick
                                            </button>
                                            <div v-else>Selected</div>
                                        </div>
                                    </div>
                                    <div v-else class="flex justify-center items-center h-full">
                                        <div class="text-gray-500">
                                            Search for evaluator
                                        </div>
                                    </div>
                                </div>

                                <div class="flex justify-end">
                                    <button class="btn-secondary" @click="showEvaluatorModal = false">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="md:col-span-2 space-x-3">
                    <button class="btn-primary" type="submit">Create</button>
                    <a onclick="history.back()"><button class="btn-secondary" type="button">Cancel</button></a>
                </div>
            </div>
        </form>
    </div>
</template>

<script setup>
import { ref } from 'vue';
import { useForm, Link } from "@inertiajs/vue3";

const showEvaluatorModal = ref(false);

const props = defineProps({
    modules: Array,
    evaluators: Array,
    filters: Object
})

const searchForm = useForm({
    evaluatorName: props.filters.evaluatorName ?? "",
});

const currentModule = ref(props.modules[0] ?? null)
const currentProject = ref(props.modules[0] ? (props.modules[0].projects[0] ?? null) : null)

const form = useForm({
    name: '',
    description: '',
    group_id: props.modules[0] ? (props.modules[0].projects[0] ? (props.modules[0].projects[0].groups[0] ?? null) : null) : null,
    start_date_time: null,
    end_date_time: null,
    rubric: '',
    evaluators: [],
    files: []
});

const search = () => {
    searchForm.get("/evaluation/create", {
        preserveState: true,
        preserveScroll: true,
    });
};
</script>
