<template>
  <div
    class="container-fypms bg-slate-50/90 border h-10 font-semibold text-sm text-gray-500 flex items-center md:px-3 gap-1 sticky top-16">
    <Link href="/evaluation" class="hover:underline">EVALUATION</Link>
    <Icon icon="fa-angles-right"></Icon>
    <Link :href="`/evaluation/${evaluation.id}`" class="hover:underline">
    {{ evaluation.name }}
    </Link>
  </div>
  <div class="container-fypms bg-white md:p-3 md:mb-10 border shadow-lg space-y-5">
    <section class="flex justify-between items-center">
      <h1 class="text-yellow-600">
        <Icon icon="fa-file-waveform" class="me-2"></Icon>{{ evaluation.name }}
      </h1>
      <Link v-if="user.role == 'admin' || user.role == 'lecturer'" :href="`/evaluation/${evaluation.id}/edit`"
        class="link-primary" type="submit">
      <Icon icon="fa-pen"></Icon>
      Edit evaluation
      </Link>
    </section>

    <div class="grid grid-cols-1 md:grid-cols-[2fr_1fr] gap-3">
      <section>
        <h2>Evaluation details</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 md:gap-3">
          <section>
            <h3>Made on</h3>
            <div>
              <Icon icon="fa-clock" class="text-gray-700"></Icon> {{ new Date(evaluation.created_at).toLocaleString() }}
            </div>
          </section>

          <section>
            <h3>Status</h3>
            <div>
              <div v-if="status == 'open'"
                class="inline-block font-bold p-1 border-4 border-green-500 text-green-500 rounded-xl">
                OPEN
              </div>
              <div v-else-if="status == 'closed'"
                class="inline-block font-bold p-1 border-4 border-red-500 text-red-500 rounded-xl">
                CLOSED
              </div>
              <div v-else class="inline-block font-bold p-1 border-4 border-gray-500 text-gray-500 rounded-xl">
                NOT OPEN
              </div>
            </div>
          </section>

          <section>
            <h3>Start date time</h3>
            <div>
              <Icon icon="fa-clock" class="text-gray-700"></Icon> {{ new Date(evaluation.start_date_time).toLocaleString()
              }}
            </div>
          </section>

          <section>
            <h3>End date time</h3>
            <div>
              <Icon icon="fa-clock" class="text-gray-700"></Icon> {{ new Date(evaluation.end_date_time).toLocaleString()
              }}
            </div>
          </section>

          <section>
            <h3>Group</h3>
            <Link :href="`/group/${evaluation.group.id}`">
            <Icon icon="fa-people-group" class="text-gray-700"></Icon> {{ evaluation.group.name }}</Link>
          </section>
        </div>
      </section>
    </div>
    <section>
      <h2>Files(Instructions)</h2>
      <div v-if="evaluation.files.length" class="box h-52 overflow-scroll">
        <File v-for="file in evaluation.files" href="" :name="file.name" :madeOn="file.created_at"
          :downloadLink="file.file_url">
        </File>
      </div>
      <div v-else class="empty-state h-52">
        No files!
      </div>
    </section>
    <section>
      <h2>Evaluators</h2>
      <div v-if="evaluation.evaluators.length" class="grid grid-cols-1 md:grid-cols-2 w-2/3 gap-y-3">
        <div v-for="(evaluator, index) in evaluation.evaluators">
          <User :user="evaluator"></User>
        </div>
      </div>
      <div v-else class="empty-state h-52">
        No evaluations!
      </div>
    </section>

    <section>
      <h2>Rubrics & result <Icon icon="fa-bar-chart" class="text-gray-700"></Icon>
      </h2>
      Link:
      <Link :href="evaluation.rubric" class="link-primary underline">{{ evaluation.rubric }}</Link>
    </section>

    <section>
      <h2>Submission files</h2>
      <div v-if="evaluation.submissions.length" class="box h-52 overflow-scroll">
        <File v-for="file in evaluation.submissions" href="" :name="file.name" :madeOn="file.created_at"
          :downloadLink="file.file_url"
          :deleteLink="evaluation.group.members.map(member => member.id).includes(user.id) && status != 'closed' ? `/student/evaluation/${evaluation.id}/evaluationSubmission/${file.id}` : null">
        </File>
      </div>
      <div v-else class="empty-state h-52">
        No files
      </div>

      <form v-if="evaluation.group.members.map(member => member.id).includes(user.id) && status == 'open'"
        @submit.prevent="submissionForm.post(`/student/evaluation/${evaluation.id}/evaluationSubmission`)">
        <h3>Upload files</h3>
        <input type="file" @input="submissionForm.submissions = Array.from($event.target.files)" multiple />
        <div v-if="submissionForm.errors.submissions" class="text-red-600">
          {{ submissionForm.errors.submissions }}
        </div>
        <button class="btn-primary block">Add files</button>
      </form>
    </section>

    <details v-if="user.role == 'admin' || user.role == 'lecturer'">
      <summary class="text-gray-700 text-lg font-bold">Others</summary>
      <button class="btn-danger" @click="deleteEvaluation">Delete evaluation</button>
      <!-- <Link class="btn-danger" :href="`/evaluation/${evaluation.id}`" as="button" method="delete">Delete
      evaluation</Link> -->
    </details>
  </div>
</template>

<script setup>
import { computed } from 'vue';
import User from '@/Components/User.vue';
import File from '@/Components/FileX.vue';
import { Link, usePage, useForm, router } from '@inertiajs/vue3';

const page = usePage();
const user = computed(() => page.props.user);

const props = defineProps({
  evaluation: Object
})

const status = computed(() => {
  const currentDate = new Date()
  const startDateTime = new Date(props.evaluation.start_date_time)
  const endDateTime = new Date(props.evaluation.end_date_time)

  if (currentDate < startDateTime) {
    return 'not open'
  } else if (currentDate > startDateTime && currentDate < endDateTime) {
    return 'open'
  } else {
    return 'closed'
  }
})

const submissionForm = useForm({
  submissions: []
})

function deleteEvaluation() {
  const result = confirm('Are you sure you want to delete this evaluation?')
  if (result) {
    router.delete(`/evaluation/${props.evaluation.id}`)
  }
}
</script>