<template>
  <div class="container-fypms">
    <section class="my-3">
      <div class="mb-5 flex justify-between">
        <h1>
          <Icon icon="fa-radio" class="me-2"></Icon>Dashboard
        </h1>
      </div>

      <Filter :name="filters.name" :sortBy="filters.sortBy" :current="`evaluation`"></Filter>

      <div>
        <div v-if="evaluations.data.length" class="box shadow-lg">
          <Evaluation v-for="evaluation in evaluations.data" :name="evaluation.name"
            :href="`/evaluation/${evaluation.id}`" :created_at="evaluation.created_at"
            :start_date_time="evaluation.start_date_time" :end_date_time="evaluation.end_date_time" />
        </div>
        <div v-else class="empty-state h-[70vh]">
          No evaluations!
        </div>
      </div>
    </section>

    <Pagination :links="evaluations.links" class="mb-3" />
  </div>
</template>

<script setup>
import { computed } from 'vue';
import { Link, usePage } from '@inertiajs/vue3';
import Pagination from '@/Components/Pagination.vue';
import Evaluation from '@/Components/Evaluation.vue';
import Filter from '@/Components/Filter.vue';

const page = usePage();
const user = computed(() => page.props.user);

defineProps({
  evaluations: Array,
  filters: Object
})
</script>
