<template>
  <div class="min-h-screen bg-orange-100 flex justify-center items-center p-3 md:p-10">
    <div class="w-full md:max-w-4xl bg-white shadow-md">
      <div class="p-2 bg-yellow-400 text-white flex justify-between items-center">
        <img :src="`/logo_alt.png`" class="h-14" />
        <!-- <div class="inline-block font-extrabold text-gray-700 text-3xl text-center">
          FYPMS
        </div> -->
      </div>
      <div class="p-3 pt-0">
        <div class="my-3 font-bold text-lg text-green-600" v-if="flashSuccess">
          <Icon icon="fa-circle-check"></Icon>
          {{ flashSuccess }}
        </div>
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script setup>
import { computed, ref } from "vue";
import { Link, usePage } from "@inertiajs/vue3";
import TitleReturn from "@/Components/TitleReturn.vue";

const page = usePage();
const flashSuccess = computed(() => page.props.flash.success);

const error = computed(() => page.props.errors.error);

const user = computed(() => page.props.user);

const url = computed(() => page.props.url);
</script>
