<template>
    <nav class="w-full bg-yellow-400/90 sticky top-0 z-10">
        <div class="container-fypms md:hidden flex items-center justify-between w-full h-16">
            <img :src="`/logo_alt.png`" class="h-12" />
            <button @click="hamburger = !hamburger">
                <Icon icon="fa-bars" class="text-3xl transition" :class="hamburger ? 'text-white' : 'text-gray-700'"></Icon>
            </button>
        </div>
        <div v-if="hamburger"
            class="md:hidden container-fypms flex md:flex-row flex-col items-center md:gap-5 justify-between md:h-16 absolute bg-yellow-400/90">
            <div class="flex flex-col md:flex-row items-center gap-2 md:gap-7 w-full md:w-auto overflow-auto">
                <!-- <div class="inline-block font-extrabold text-gray-700 text-2xl text-center">
                    FYPMS
                </div> -->
                <img :src="`/logo_alt.png`" class="h-12 hidden md:block" />
                <template v-if="user.role === 'student'">
                    <Link href="/dashboard" class="nav-link" :class="{ 'nav-link-active': url === 'dashboard' }">Dashboard
                    </Link>
                    <Link href="/project" class="nav-link" :class="{ 'nav-link-active': url === 'project' }">My Projects
                    </Link>
                    <Link href="/group" class="nav-link" :class="{ 'nav-link-active': url === 'group' }">My
                    groups</Link>
                </template>
                <template v-else-if="user.role === 'lecturer'">
                    <Link href="/dashboard" class="nav-link" :class="{ 'nav-link-active': url === 'dashboard' }">Dashboard
                    </Link>
                    <Link href="/project" class="nav-link" :class="{ 'nav-link-active': url === 'project' }">My Projects
                    </Link>
                    <Link href="/evaluation" class="nav-link" :class="{ 'nav-link-active': url === 'evaluation' }">My
                    Evaluations</Link>
                </template>
                <template v-else-if="user.role == 'admin'">
                    <Link href="/project" class="nav-link" :class="{ 'nav-link-active': url === 'project' }">
                    Projects
                    </Link>
                    <Link href="/module" class="nav-link" :class="{ 'nav-link-active': url === 'module' }">
                    Modules
                    </Link>
                    <!-- <Link href="/evaluation" class="nav-link" :class="{
                        'nav-link-active': url === 'evaluation',
                    }">
                    Evaluations</Link> -->
                    <Link href="/admin/student/user" class="nav-link" :class="{
                        'nav-link-active': url === 'admin/student/user',
                    }">
                    Students</Link>
                    <Link href="/admin/lecturer/user" class="nav-link" :class="{
                        'nav-link-active':
                            url === 'admin/lecturer/user',
                    }">Lecturers</Link>
                </template>
            </div>
            <div class="flex-nowrap md:gap-3 hidden md:block">
                <Link class="relative" href="/notification">
                <Icon icon="fa-bell" class="nav-link text-2xl"></Icon>
                <div v-if="notificationCount"
                    class="absolute rounded-full w-5 h-5 bg-white -top-2 right-0 flex items-center justify-center">
                    <span class="text-gray-700 font-extrabold text-xs">{{ notificationCount }}</span>
                </div>
                </Link>
                <button @click="userDropdown = !userDropdown">
                    <Icon icon="fa-circle-user" class="nav-link text-2xl"></Icon>
                </button>
            </div>
            <div class="md:hidden my-10 space-y-2 text-gray-700 font-semibold">
                <Link class="grid grid-cols-[1fr_2fr] gap-3 w-60" href="/notification">
                <div class="relative block ms-auto">
                    <Icon icon="fa-bell" class="nav-link text-xl"></Icon>
                    <div v-if="notificationCount"
                        class="absolute rounded-full w-5 h-5 bg-white -top-2 right-0 flex items-center justify-center">
                        <span class="text-gray-700 font-extrabold text-xs">{{ notificationCount }}</span>
                    </div>
                </div>
                <div>Notifications</div>
                </Link>

                <Link class="grid grid-cols-[1fr_2fr] gap-3 w-60" :href="`/profile/user/${user.id}`">
                <div class="block ms-auto">
                    <Icon icon="fa-user" class="nav-link text-xl"></Icon>
                </div>
                <div>Your profile</div>
                </Link>

                <Link class="grid grid-cols-[1fr_2fr] gap-3 w-60" href="/logout" method="delete">
                <div class="block ms-auto">
                    <Icon icon="fa-right-from-bracket" class="nav-link text-xl"></Icon>
                </div>
                <div>Logout</div>
                </Link>
            </div>
        </div>
        <div
            class="hidden container-fypms md:flex md:flex-row flex-col items-center md:gap-5 justify-between md:h-16 relative">
            <div class="flex flex-col md:flex-row items-center gap-2 md:gap-7 w-full md:w-auto overflow-auto">
                <!-- <div class="inline-block font-extrabold text-gray-700 text-2xl text-center">
                    FYPMS
                </div> -->
                <img :src="`/logo_alt.png`" class="h-12 hidden md:block" />
                <template v-if="user.role === 'student'">
                    <Link href="/dashboard" class="nav-link" :class="{ 'nav-link-active': url === 'dashboard' }">Dashboard
                    </Link>
                    <Link href="/project" class="nav-link" :class="{ 'nav-link-active': url === 'project' }">My Projects
                    </Link>
                    <Link href="/group" class="nav-link" :class="{ 'nav-link-active': url === 'group' }">My
                    groups</Link>
                </template>
                <template v-else-if="user.role === 'lecturer'">
                    <Link href="/dashboard" class="nav-link" :class="{ 'nav-link-active': url === 'dashboard' }">Dashboard
                    </Link>
                    <Link href="/project" class="nav-link" :class="{ 'nav-link-active': url === 'project' }">My Projects
                    </Link>
                    <Link href="/evaluation" class="nav-link" :class="{ 'nav-link-active': url === 'evaluation' }">My
                    Evaluations</Link>
                </template>
                <template v-else-if="user.role == 'admin'">
                    <Link href="/project" class="nav-link" :class="{ 'nav-link-active': url === 'project' }">
                    Projects
                    </Link>
                    <Link href="/module" class="nav-link" :class="{ 'nav-link-active': url === 'module' }">
                    Modules
                    </Link>
                    <!-- <Link href="/evaluation" class="nav-link" :class="{
                        'nav-link-active': url === 'evaluation',
                    }">
                    Evaluations</Link> -->
                    <Link href="/admin/student/user" class="nav-link" :class="{
                        'nav-link-active': url === 'admin/student/user',
                    }">
                    Students</Link>
                    <Link href="/admin/lecturer/user" class="nav-link" :class="{
                        'nav-link-active':
                            url === 'admin/lecturer/user',
                    }">Lecturers</Link>
                </template>
            </div>
            <div class="flex-nowrap md:gap-3 hidden md:block">
                <Link class="relative" href="/notification">
                <Icon icon="fa-bell" class="nav-link text-2xl"></Icon>
                <div v-if="notificationCount"
                    class="absolute rounded-full w-5 h-5 bg-white -top-2 right-0 flex items-center justify-center">
                    <span class="text-gray-700 font-extrabold text-xs">{{ notificationCount }}</span>
                </div>
                </Link>
                <button @click="userDropdown = !userDropdown">
                    <Icon icon="fa-circle-user" class="nav-link text-2xl"></Icon>
                </button>
            </div>
            <div v-if="userDropdown"
                class="absolute top-16 right-3 md:right-0 w-60 min-h-[60px] bg-gray-100 shadow-md border-2 border-t-0 border-gray-400">
                <Link :href="`/profile/user/${user.id}`"
                    class="block border-b-2 border-gray-400 px-3 py-2 hover:bg-slate-200">
                <div class="flex items-center gap-3">
                    <Icon icon="fa-user"></Icon>
                    <span class="font-bold text-lg">{{ user.name }}</span>
                </div>
                <div>{{ user.email }}</div>
                </Link>
                <Link href="/logout" method="delete" as="button"
                    class="block px-3 py-2 w-full font-bold hover:bg-slate-200">logout</Link>
            </div>
        </div>
    </nav>
    <div v-if="error" class="w-full bg-red-600">
        <div class="container-fypms py-3 font-semibold text-white">
            {{ error }}
        </div>
    </div>
    <div class="bg-green-200">
        <div class="py-3 font-bold text-lg text-green-600 container-fypms" v-if="flashSuccess">
            <Icon icon="fa-circle-check"></Icon>
            {{ flashSuccess }}
        </div>
    </div>

    <div class="md:min-h-screen">
        <slot></slot>
    </div>

    <div class="w-full pt-14 pb-8 bg-yellow-400 font-bold">
        <div class="container-fypms">
            <div class="md:grid grid-cols-[1fr_500px] text-gray-700">
                <img :src="`/logo_alt.png`" class="h-16" />
                <div class="space-y-3">
                    <a href="https://www.gcit.edu.bt/">Gyalpozhing College Of Information Technology</a>
                    <div class="flex gap-3">
                        <div>CONTACT US</div>
                        <div>
                            <Icon icon="fa-x-twitter fa-brands" class="text-2xl" />
                        </div>
                        <div>
                            <Icon icon="fa-brands fa-facebook" class="text-2xl" />
                        </div>
                        <div>
                            <Icon icon="fa-brands fa-instagram" class="text-2xl" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col md:flex-row gap-3 justify-between flex-wrap text-gray-700 mt-10">
                <Link>ABOUT US</Link>
                <Link>CONTACT US</Link>
                <Link>HELP</Link>
                <Link>PRIVACY POLICY</Link>
                <Link>DISCLAIMER</Link>
            </div>
        </div>
    </div>
</template>

<script setup>
import { computed, ref } from "vue";
import { Link, usePage } from "@inertiajs/vue3";

const userDropdown = ref(false)
const hamburger = ref(false)
const page = usePage();
const flashSuccess = computed(() => page.props.flash.success);

const error = computed(() => page.props.errors.error);
const user = computed(() => page.props.user);
const url = computed(() => page.props.url);
const notificationCount = computed(() => page.props.user.notificationCount)
</script>
