<template>
  <div class=" w-full h-screen flex justify-center items-center p-3 bg-orange-100">
    <div class="p-6 border w-full md:w-[500px] bg-white shadow-lg">

      <form @submit.prevent="
        form.transform((data) => ({
          ...data,
          // email: data.role == 'student' ? data.email + '.gcit@rub.edu.bt' : data.email,
        }))
          .post('/login')
        ">
        <div class="w-full mx-auto">
          <img :src="`/logo_alt.png`" class="block mx-auto h-20"/>
          <!-- <div class="font-bold text-yellow-400 text-4xl text-center">
            FYPMS
          </div> -->
          <!-- <div class="my-5 ">
            <label for="role" class="text-white">Role</label>
            <br>
            <select class="w-full rounded-md" id="role" v-model="form.role">
              <option value="student">Student</option>
              <option value="lecturer">Lecturer</option>
              <option value="admin">Admin</option>
            </select>
          </div> -->
          <div class="space-y-5">
            <div class="mt-5 font-bold text-lg text-green-600" v-if="flashSuccess">
              <Icon icon="fa-circle-check"></Icon>
              {{ flashSuccess }}
            </div>
            <div>
              <h3 for="email">Email</h3>
              <input role="email" id="email" v-model="form.email" class="w-full h-14" placeholder="Enter email">
              <div v-if="form.errors.email" class="text-red-600">
                {{ form.errors.email }}
              </div>
            </div>
            <div>
              <h3 for="password">Password</h3>
              <input type="password" id="password" v-model="form.password" class="w-full h-14"
                placeholder="Enter password">
              <div v-if="form.errors.password" class="text-red-600">
                {{ form.errors.password }}
              </div>
            </div>
          </div>
          <!-- <div v-else class="my-5">
            <label for="email" class="text-white">Enrollment number</label>
            <br>
            <input id="email" v-model="form.email" class="form-control rounded-md w-full">
            <div v-if="form.errors.email" class="text-red-600">
              {{ form.errors.email }}
            </div>
          </div> -->
          <div class="my-5">
            <button role="submit" class="w-full btn-primary">Login</button>
          </div>
          <Link href="/forgot-password" class="link-primary">Forgot Password</Link>
        </div>
      </form>
    </div>
    <div class="login-container">
      <div class="login-box">
        <form @submit.prevent="
          form.transform((data) => ({
            ...data,
            email: data.role == 'student' ? data.email + '.gcit@rub.edu.bt' : data.email,
          }))
            .post('/login')
          ">
        </form>
      </div>
    </div>
  </div>
</template>

<script setup>
import { computed } from 'vue';
import { useForm, Link, usePage } from '@inertiajs/vue3';

const page = usePage();
const flashSuccess = computed(() => page.props.flash.success);

const form = useForm({
  // role: 'student',
  email: '',
  password: ''
});
</script>
