<template>
  <div class=" w-full h-screen flex justify-center items-center p-3 bg-orange-100">
    <div class="p-6 border w-full md:w-[500px] bg-white shadow-lg">

      <form @submit.prevent="form.post('/forgot-password')">
        <div class="w-full mx-auto">
          <img :src="`/logo_alt.png`" class="block mx-auto h-20"/>
          <!-- <div class="font-bold text-yellow-400 text-4xl text-center">
            FYPMS
          </div> -->
          <div class="space-y-5">
            <div>
              <h3 for="email">Email</h3>
              <input role="email" id="email" v-model="form.email" class="w-full h-14" placeholder="Enter your user registered email">
              <div v-if="form.errors.email" class="text-red-600">
                {{ form.errors.email }}
              </div>
            </div>
          </div>
          <div class="mt-5 flex gap-3">
            <Link href="/login" role="cancel" class="w-full btn-secondary" as="button">Cancel</Link>
            <button role="submit" class="w-full btn-primary">Recover</button>
          </div>
        </div>
      </form>
    </div>
    <div class="login-container">
      <div class="login-box">
        <form @submit.prevent="
          form.transform((data) => ({
            ...data,
            email: data.role == 'student' ? data.email + '.gcit@rub.edu.bt' : data.email,
          }))
            .post('/login')
          ">
        </form>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useForm, Link } from '@inertiajs/vue3';

const form = useForm({
  email: '',
});
</script>
