<template>
  <div class=" w-full h-screen flex justify-center items-center p-3 bg-orange-100">
    <div class="p-6 border w-full md:w-[500px] bg-white shadow-lg">

      <form @submit.prevent="form.post('/reset-password')">
        <div class="w-full mx-auto">
          <img :src="`/logo_alt.png`" class="block mx-auto h-20"/>
          <!-- <div class="font-bold text-yellow-400 text-4xl text-center">
            FYPMS
          </div> -->
          <div class="space-y-5">
            <div>
              <h3 for="email">Email</h3>
              <input role="email" id="email" v-model="form.email" class="w-full h-14"
                placeholder="Enter the email to reset password">
              <div v-if="form.errors.email" class="text-red-600">
                {{ form.errors.email }}
              </div>
            </div>
            <div>
              <h3 for="password">New password</h3>
              <input type="password" id="password" v-model="form.password" class="w-full h-14"
                placeholder="Enter new password">
              <div v-if="form.errors.password" class="text-red-600">
                {{ form.errors.password }}
              </div>
            </div>
            <div>
              <h3 for="password">Confirm password</h3>
              <input type="password" id="password" v-model="form.password_confirmation" class="w-full h-14"
                placeholder="Enter the password again">
              <div v-if="form.errors.password_confirmation" class="text-red-600">
                {{ form.errors.password_confirmation }}
              </div>
            </div>
          </div>
          <div class="my-5">
            <button role="submit" class="w-full btn-primary">Reset password</button>
          </div>
        </div>
      </form>
    </div>
    <div class="login-container">
      <div class="login-box">
        <form @submit.prevent="
          form.transform((data) => ({
            ...data,
            email: data.role == 'student' ? data.email + '.gcit@rub.edu.bt' : data.email,
          }))
            .post('/login')
          ">
        </form>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useForm, Link } from '@inertiajs/vue3';

const props = defineProps({
  token: String
})

const form = useForm({
  token: props.token ?? null,
  email: '',
  password: '',
  password_confirmation: ''
});
</script>
